<!DOCTYPE html>
<html>

<head>
    <%-include('config') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <title>Buslinker</title>
    <script>
        $(function () {
            setChart();
            setSelect();
            setDoughnut();
            setDoughnutHeight();
        });

        function setSelect() {
            $('#select-month').val('<%=start%>');
            $('#select-month').change(function () {
                const start = $(this).val();
                location.href = `?start=${start}`;
            });
        }
        function setChart() {
            var options = {
                maintainAspectRatio: true,
                spanGaps: false,
                elements: {
                    line: {
                        tension: 0.4
                    }
                },
                scales: {
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                        }
                    }],
                    xAxes: [{
                        display: true,
                        type: 'category',
                        stacked: true,
                        scaleLabel: {
                            display: false,
                            labelString: '월'
                        },
                        maxBarThickness: 60
                    }],
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                        title: function (tooltipItems, data) {
                            const label = data.labels[tooltipItems[0].index];
                            return label;
                        },

                    }
                }

            };
            var label = [], cnt = [];
            <% for (var i = 0; i < table.length; i++) { %>
                label.push('<%=table[i].Date%>');
                cnt.push(<%=table[i].ItemCnt %>);
            <% } %>

            var data = {
                labels: label,
                datasets: [
                    {
                        borderColor: '#2A94D9',
                        backgroundColor: '#2A94D9',
                        data: cnt,
                        label: '수거',
                    }
                ]
            };

            var ctx = document.getElementById('myChart').getContext('2d');
            chart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
        }

        function setDoughnut() {
            var current =<%=cnt[0].ItemCnt ? cnt[0].ItemCnt : 0 %>;
            var total =<%=cnt[0].DefaultCnt %>;
            if (total < current) {
                total = 0;
            } else {
                total -= current;
            }

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [
                            current,
                            total
                        ],
                        backgroundColor: [
                            '#2A94D9',
                            '#D3D3D3'
                        ]
                    }],
                    labels: [
                        '수거 물량',
                        '잔여 물량'
                    ]

                },
                options: {
                    responsive: true,
                    legend: {
                        display:false
                    },
                    title: {
                        display: false,
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                    , circumference: Math.PI,
                    rotation: -Math.PI
                }
            };

            window.onload = function () {
                var ctx = document.getElementById('chart-area').getContext('2d');
                window.myDoughnut = new Chart(ctx, config);
            };
        }

        function setDoughnutHeight() {
            const height=$('#receipt-div').outerHeight();
            $('#doughnut-div').height(height);
        }
    </script>
</head>

<body style="background-color: #f5f5f5;">
    <%-include('nav') %>
    <section class="container-main">
        <div class="full-contents">
            <div class=" horizontal between">
                <h3><b>종합</b></h3>
                <div class=" bottom-line horizontal">
                <img src="/public/images/calendar.svg" style="margin-right: 10px;">
                <select class="transparent" id="select-month">
                    <% var year=new Date().getFullYear();
                        var month=new Date().getMonth()+1;
                        %>
                    <%for(var i=month; i>=1; i--) { %>
                    <% var date=year+'-';
                        if(i<10){
                            date+='0';
                        } date+=i;
                        %>
                    <option value="<%=date+'-01'%>"><%=date%></option>
                    <% }%>
                </select>
            </div>
            </div>
            <div class="horizontal">
                <div class="card3d" style="width: 40%;" >
                    <div class=" horizontal" id="receipt-div">
                        <div id="receipt-left">
                            <div style="text-align: center;">
                                <h4><b>물류 수거 비용</b></h4>
                                <p>① 기본 비용 + ③ 추가 비용</p>
                            </div>
                            <label>① 기본 비용</label><br>
                            <label
                                style="margin-left: 20px; font-size: small;"><b><%=cnt[0].DefaultFee?cnt[0].DefaultFee.toLocaleString():0%>원</b></label><br>
                            <label>② 기본 물량</label><br>
                            <label
                                style="margin-left: 20px; font-size: small;"><b><%=cnt[0].DefaultCnt?cnt[0].DefaultCnt.toLocaleString():0%>개</b></label><br>
                            <label>③ 추가 비용</label><br>
                            <label style="margin-left: 20px; font-size: small;"><b><%=cnt[0].AdFee?cnt[0].AdFee.toLocaleString():0%>원 X
                                    (<%=cnt[0].ItemCnt?cnt[0].ItemCnt.toLocaleString():0%> -
                                    <%=cnt[0].DefaultCnt?cnt[0].DefaultCnt.toLocaleString():0%>)개</b></label><br>
                            <label style="font-size: small;">* 추가 비용이 음수일경우, 0으로 처리</label>
                        </div>
                        <div id="receipt-right">
                            <div class="horizontal between" style="width: 100%;">
                                <label class=" logo-txt">Bus<b>Linker</b></label>
                                <label><%=start%></label>
                            </div>
                            <br>
                            <div class=" horizontal between">
                                <label>기본 비용</label>
                                <label><%=cnt[0].DefaultFee?cnt[0].DefaultFee.toLocaleString():0%>원</label>
                            </div>
                            <div class=" horizontal between">
                                <label>추가 비용</label>
                                <% var adFee=0;  %>
                                <% if(cnt[0].ItemCnt&&cnt[0].ItemCnt>cnt[0].DefaultCnt) {
                                    adFee=(cnt[0].ItemCnt-cnt[0].DefaultCnt)*cnt[0].AdFee;
                                } %>
                                <label><%=adFee.toLocaleString()%>원</label>
                            </div>
                            <hr><br>
                            <div class=" horizontal between">
                                <label>Total</label>
                                <label><%=(cnt[0].DefaultFee+adFee).toLocaleString()%>원</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card3d" style="width: 30%; margin-left: 20px;"id="doughnut-div">
                    <div class="card-body" style="text-align: center;" >
                        <canvas id="chart-area" style="height: 200px; margin-bottom: -30px;"></canvas>
                        <h2><b><%=parseInt(((cnt[0].ItemCnt?cnt[0].ItemCnt:1)/cnt[0].DefaultCnt)*100)%>%</b></h2>
                        <label><%=cnt[0].DefaultCnt?cnt[0].DefaultCnt.toLocaleString():0%>개 중
                            <%=cnt[0].ItemCnt?cnt[0].ItemCnt.toLocaleString():0%>개 수거</label>
                    </div>
                </div>
            </div>

            <br>
            <div class="card3d" >
                <div class="card-body">
                    <canvas id="myChart" style="width: 100%;" height="300px"></canvas>
                </div>
            </div>
        </div>
    </section>
</body>

</html>