<html>

<head>
    <%- include('config')%>
    <title>물량 관리</title>
    <script src="/public/js/fullcalendar/core.js"></script>
    <script src="/public/js/fullcalendar/timegrid.js"></script>
    <script src="/public/js/fullcalendar/daygrid.js"></script>
    <script src="/public/js/fullcalendar/interaction.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/core.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/timegrid.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/daygrid.css" />
    <script>
        $(function () {
            $('#modal').hide();
            $('#check-div').hide();
            $('#upload-btn').click(function () {
                if ($('#item_file').val() == '') {
                    alert('파일을 선택하세요.');
                    return;
                }
                if (confirm('파일을 업로드하시겠습니까?')) {
                    uploadFile();
                }
            })

            $("#item_file").change(function () {
                var list = $(this).val().split(`\\`);
                var filename = list[list.length - 1];
                $('#file-name').text(filename);
            });

            setAlertSize();

            $('#confirm-btn').click(function () {
                if (confirm('상품을 등록하시겠습니까?')) {
                    $('#item-form').submit();
                }
            });

            $('#upload-a').click(function () {
                $('#modal').fadeIn(400);
            })

            $('#cancel-btn').click(function () {
                if (confirm('정말로 취소하시겠습니까?')) {
                    $('#detail-contents').html('');
                }
            });

            getItemList();
            setClose();
            setMonth();
            setFirst();
            setContentHeight();
            var year=new Date().getFullYear();
            <%for(var i=0; i<table.length; i++) { %>
                addEvent(<%=table[i].ItemCnt%> , year+'-<%=table[i].Date%>');
                console.log('<%=table[i].Date%>');
            <% } %>
        });
        document.addEventListener('DOMContentLoaded', function () {
            var Calendar = FullCalendar.Calendar;

            var calendarEl = document.getElementById('calendar');
            calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar
                locale: 'ko',
                eventLimit: true, // for all non-TimeGrid views
                views: {
                    month: {
                        eventLimit: 2 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                }
            });

            calendar.render();
        });

        function addEvent(cnt, date) {
            calendar.addEvent({
                title: cnt+' 박스',
                start: date,
                allDay: true,
                color: '#011942',
                textColor: '#ffffff',
            });
        }

        function getItemList() {
            $('.item-sm').click(function () {
                const listID = $(this).data('list-id');
                if (listID != 'none') {
                    $.get('/Onwer/Get/ItemList', { listID: listID }, function (json) {
                        $("#detail-contents").html('');
                        $('#check-div').hide();
                        console.log(json);
                        for (var i = 0; i < json.length; i++) {
                            $("#detail-contents").append(`
                        <tr class='item'>
                        <td class='font-white'>${i + 2}</td>
                        <td class='font-white'>${json[i].ItemID}</td>
                        <td class='font-white'>${json[i].ItemName}</td>
                        <td class='font-white'>${json[i].DesName}</td>
                        <td class='font-white'>${json[i].DesPhone}</td>
                        <td class='font-white'>${json[i].DesAddr}</td>
                        </tr>
                        `);
                        }
                        $('#count').text(`총 ${json.length}건`);
                    });
                }
            })
        }

        function uploadFile() {
            var form = jQuery("#ajaxFrom")[0];
            var formData = new FormData(form);
            formData.append("item_file", jQuery("#item_file")[0].files[0]);
            jQuery.ajax({
                url: "/Owner/Upload/Excel"
                , type: "POST"
                , processData: false
                , contentType: false
                , data: formData
                , success: function (json) {
                    $("#detail-contents").html('');
                    for (var i = 0; i < json.length; i++) {
                        console.log(i);
                        $("#detail-contents").append(`
                        <tr class='item'>
                        <td class='font-white'>${i + 2}</td>
                        <td class='font-white'>${json[i].송장번호}</td>
                        <td class='font-white'>${json[i].품목명}</td>
                        <td class='font-white'>${json[i].이름}</td>
                        <td class='font-white'>${json[i].전화번호}</td>
                        <td class='font-white'>${json[i].도착지}</td>
                        </tr>
                        `);
                        $('#item-form').append(`
                    <input hidden name='id' value='${json[i].송장번호}'>
                    <input hidden name='item_name' value='${json[i].품목명}'>
                    <input hidden name='name' value='${json[i].이름}'>
                    <input hidden name='phone' value='${json[i].전화번호}'>
                    <input hidden name='addr' value='${json[i].도착지}'>
                    `);
                    }
                    $('#count').text(`총 ${json.length}건`);
                    $("#detail-contents").append(`<tr style="height:80px"></tr>`);
                    $('#modal').hide();
                    $('#check-div').show();
                }
            });
        }

        function setAlertSize() {
            const width = $('#item_sum').outerWidth() - 80;
            $('#alert').width(width);
        }

        function setClose() {
            $('.close').click(function () {
                $('#modal').fadeOut(300);
                $('#item_file').val('');
            });
        }

        function setMonth() {
            $('#period').change(function () {
                var yyyymm = $(this).val();
                location.href = `?yymm=${yyyymm}`;
            })
        }

        function setFirst() {
            if ($($('.item-sm')[0]).data('list-id') == 'none') {
                $($('.item-sm')[1]).trigger('click');
            } else {
                $($('.item-sm')[0]).trigger('click');
            }
        }

        function setContentHeight() {
            const height = $(window).outerHeight() - 62;

            $('#item_detail').height(height);
        }
    </script>

</head>

<body>
    <%- include('nav') %>
    <!-- modal popup -->
    <div id="modal">
        <div class="card">
            <div class="card-body">
                <div class="horizontal between">
                    <label>양식 업로드</label>
                    <img src="/public/images/x_icon.png" class="close">
                </div>
                <br>
                <form enctype="multipart/form-data" id="ajaxFrom" method="post">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="item_file" accept=".xlsx">
                        <label class="custom-file-label" for="item_file" id="file-name">물량 양식을 업로드하세요.</label>
                    </div><br><br>
                    <button class="btn-main btn-block" type="button" id="upload-btn">확인</button>
                </form>
            </div>
        </div>
    </div>
    <section class="container-main">
        <div class="normal"style="padding-left: 100px; padding-right: 100px;padding-top: 50px;">
            <h5>오늘의 물량 현황</h5>
            <div class="horizontal between">
                <h3><b><%=itemList.length?itemList.length.toLocaleString():0%>개</b></h3>
                <% if(itemList.length==0) { %>
                    <button type="button" class=" btn-blue">물량 업로드</button>
                <% } %>
                
            </div>
            <br>
            <div class="horizontal between">
                <!-- route info -->
                <div class="card" style="width: 39%;">
                    <div class="card-body">
                        <div class="horizontal between">                            
                            <div class="horizontal">
                                <img src="/public/images/logo_512x512.png" width="45" height="45">
                                <label class=" logo-txt" style="margin-top: 15px;">Bus<b>Linker</b></label>
                            </div>
                            
                            <p><%=yyyymm%></p>
                        </div>
                        <h3 style="text-align: center;"><b>routename</b></h3>
                        <div class="horizontal between">
                            
                        </div>
                    </div>
                </div>
                <!-- calendar -->
                <div class="card" style="width: 59%;">
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- summuary view -->
        <!-- 
        <div id="item_sum">
            <select id="period">
                <% var year=new Date().getFullYear();
                    for(var i=1; i<13; i++) { 
                        var print=year+'-';
                        if(i<10)
                            print+='0';
                        print+=i;
                        var value=year+'-'+i;
                        var select='';
                        if(value==yyyymm)
                        select='selected';
                        %>
                <option value="<%=value%>" <%=select%>><%=print%></option>
                <% } %>
            </select>
            <table id="item-table">
                <thead>
                    <th class="head">날짜</th>
                    <th class="head">물량</th>
                </thead>
                <tbody>
                    <% 
                    const today=new Date();
                    const todayStr=today.getFullYear()+'년 '+(today.getMonth()+1)+'월 '+today.getDate()+'일';
                    if(itemList.length==0) {  %>
                    <tr class="item-sm" data-list-id="none">
                        <td><%=todayStr%></td>
                        <td><a id="upload-a" href="#">물량 업로드</a></td>
                    </tr>
                    <% } else {
                                const lastDate=new Date(itemList[0].SoldDate);
                               if(today.getFullYear()>=lastDate.getFullYear()&&
                                today.getMonth()>=lastDate.getMonth()&&
                                today.getDate()>lastDate.getDate()) { %>
                    <tr class="item-sm" data-list-id="none">
                        <td><%=todayStr%></td>
                        <td><a id="upload-a" href="#">물량 업로드</a></td>
                    </tr>
                    <% }
                           }
                           
                           for(var i=0; i<itemList.length; i++) { 
                            const date=new Date(itemList[i].SoldDate);
                            const dateStr=date.getFullYear()+'년 '+(date.getMonth()+1)+'월 '+date.getDate()+'일';
                            %>
                    <tr class="item-sm" data-list-id="<%=itemList[i].ListID%>">
                        <td><%=dateStr%></td>
                        <td><%=itemList[i].Count%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <%  var deadStr='';
            if(itemList[0]!=null&&itemList[0].Deadline) {
                var dDate=new Date(itemList[0].Deadline);
                var currentDate=new Date();
                if(dDate.getDate()==currentDate.getDate()) {
                    deadStr=(dDate.getMonth()+1)+'월 '+dDate.getDate()+'일 '+dDate.getHours()+'시 '+dDate.getMinutes()+'초 물량 마감 완료';    
                } else {
                    
                }
            } %>
            <label id="alert"><%=deadStr%></label>
        </div>-->
        <!-- each detail view -->
        <!--
        <div id="item_detail">
            <label class="font-white size-15">물량 현황</label><br>
            <label class="font-white size-15" id="count"></label>

            <table style="width: 100%;">
                <thead>
                    <th class="head-blue">#</th>
                    <th class="head-blue">송장번호</th>
                    <th class="head-blue">품목명</th>
                    <th class="head-blue">받는이</th>
                    <th class="head-blue">전화번호</th>
                    <th class="head-blue">도착지</th>
                </thead>
                <tbody id="detail-contents">

                </tbody>
            </table>
            <form method="POST" action="/Owner/Create/ItemList" id="item-form"></form>
            <div id="check-div">
                <button class="btn-sec" style="margin-right: 20px;" id="cancel-btn" type="button">취소</button>
                <button class="btn-main" id="confirm-btn" type="button">확인</button>
            </div>
        </div>-->

    </section>
</body>

</html>