<html>

<head>
    <%- include('config')%>
    <title>물량 관리</title>
    <script src="/public/js/fullcalendar/core.js"></script>
    <script src="/public/js/fullcalendar/timegrid.js"></script>
    <script src="/public/js/fullcalendar/daygrid.js"></script>
    <script src="/public/js/fullcalendar/interaction.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/core.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/timegrid.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/daygrid.css" />
    <script>
        $(function () {
            $('#modal').hide();
            $('#check-div').hide();
            $('#upload-btn').click(function () {
                if ($('#item_file').val() == '') {
                    alert('파일을 선택하세요.');
                    return;
                }
                if (confirm('파일을 업로드하시겠습니까?')) {
                    uploadFile();
                }
            })

            $("#item_file").change(function () {
                var list = $(this).val().split(`\\`);
                var filename = list[list.length - 1];
                $('#file-name').text(filename);
            });

            setAlertSize();

            $('#confirm-btn').click(function () {
                if (confirm('상품을 등록하시겠습니까?')) {
                    $('#item-form').submit();
                }
            });

            $('#upload-btn0').click(function () {
                $('#modal').fadeIn(400);
            })

            $('#cancel-btn').click(function () {
                if (confirm('정말로 취소하시겠습니까?')) {
                    $('#detail-contents').html('');
                }
            });

            getItemList();
            setClose();
            setMonth();
            setFirst();
            setLeftHeight();
            var year = new Date().getFullYear();
            <%for (var i = 0; i < table.length; i++) { %>
                addEvent(<%=table[i].ItemCnt %> , year + '-<%=table[i].Date%>');
            <% } %>
        });
        document.addEventListener('DOMContentLoaded', function () {
            var Calendar = FullCalendar.Calendar;

            var calendarEl = document.getElementById('calendar');
            calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar
                locale: 'ko',
                eventLimit: true, // for all non-TimeGrid views
                views: {
                    month: {
                        eventLimit: 2 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                }
            });

            calendar.render();
        });

        function addEvent(cnt, date) {
            calendar.addEvent({
                title: cnt + ' 박스',
                start: date,
                allDay: true,
                color: '#011942',
                textColor: '#ffffff',
            });
        }

        function getItemList() {
            $('.item-sm').click(function () {
                const listID = $(this).data('list-id');
                if (listID != 'none') {
                    $.get('/Onwer/Get/ItemList', { listID: listID }, function (json) {
                        $("#detail-contents").html('');
                        $('#check-div').hide();
                        console.log(json);
                        for (var i = 0; i < json.length; i++) {
                            $("#detail-contents").append(`
                        <tr class='item'>
                        <td class='font-white'>${i + 2}</td>
                        <td class='font-white'>${json[i].ItemID}</td>
                        <td class='font-white'>${json[i].ItemName}</td>
                        <td class='font-white'>${json[i].DesName}</td>
                        <td class='font-white'>${json[i].DesPhone}</td>
                        <td class='font-white'>${json[i].DesAddr}</td>
                        </tr>
                        `);
                        }
                        $('#count').text(`총 ${json.length}건`);
                    });
                }
            })
        }

        function uploadFile() {
            var form = jQuery("#ajaxFrom")[0];
            var formData = new FormData(form);
            formData.append("item_file", jQuery("#item_file")[0].files[0]);
            jQuery.ajax({
                url: "/Owner/Upload/Excel"
                , type: "POST"
                , processData: false
                , contentType: false
                , data: formData
                , success: function (json) {
                    $("#detail-contents").html('');
                    for (var i = 0; i < json.length; i++) {
                        $('#item-form').append(`
                    <input hidden name='id' value='${json[i].송장번호}'>
                    <input hidden name='item_name' value='${json[i].품목명}'>
                    <input hidden name='name' value='${json[i].이름}'>
                    <input hidden name='phone' value='${json[i].전화번호}'>
                    <input hidden name='addr' value='${json[i].도착지}'>
                    `);
                    }
                    //$('#count').text(`총 ${json.length}건`);
                    // $("#detail-contents").append(`<tr style="height:80px"></tr>`);
                    $('#modal').hide();
                    // $('#check-div').show();
                    console.log($('#item-form'));
                    $('#item-form').submit();
                }
            });
        }

        function setAlertSize() {
            const width = $('#item_sum').outerWidth() - 80;
            $('#alert').width(width);
        }

        function setClose() {
            $('.close').click(function () {
                $('#modal').fadeOut(300);
                $('#item_file').val('');
            });
        }

        function setMonth() {
            $('#period').change(function () {
                var yyyymm = $(this).val();
                location.href = `?yymm=${yyyymm}`;
            })
        }

        function setFirst() {
            if ($($('.item-sm')[0]).data('list-id') == 'none') {
                $($('.item-sm')[1]).trigger('click');
            } else {
                $($('.item-sm')[0]).trigger('click');
            }
        }

        function setLeftHeight() {
            var height=$('#calendar').outerHeight();
            
            $('#left-div').height(height);
        }
    </script>

</head>

<body style="background-color: #f5f5f5;">
    <%- include('nav') %>
    <!-- modal popup -->
    <div id="modal">
        <div class="card3d">
            <div class="card-body">
                <div class="horizontal between">
                    <label>양식 업로드</label>
                    <img src="/public/images/x_icon.png" class="close">
                </div>
                <br>
                <form enctype="multipart/form-data" id="ajaxFrom" method="post">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="item_file" accept=".xlsx">
                        <label class="custom-file-label" for="item_file" id="file-name">물량 양식을 업로드하세요.</label>
                    </div><br><br>
                    <button class="btn-main btn-block" type="button" id="upload-btn">확인</button>
                </form>
            </div>
        </div>
    </div>
    <section class="container-main">
        <form id="item-form" hidden action="/Owner/Create/ItemList" method="POST"></form>
        <div class="full-contents" >
            <p class=" size-15 primary">오늘의 물량 현황</p>
            <div class="horizontal between">
                <h3 class=" primary"><b><%=ItemCnt!=0?ItemCnt.toLocaleString()+'개':'물량 등록 안됨'%></b></h3>
                <% if(ItemCnt==0) { %>
                <button type="button" class="btn-blue btn-slim" id="upload-btn0">물량 업로드</button>
                <% } %>
            </div>
            <br>
            <div class="horizontal between">
                <!-- route info -->
                <div class="card3d" style="width: 39%;">
                    <div class="card-body">
                        <div id="left-div">
                        <div class="horizontal between" style="align-items: center;">
                            <div class="horizontal">
                                <img src="/public/images/logo_negative.svg" width="45" height="45">
                                <label class=" logo-txt primary" style="margin-top: 15px;">Bus<b>Linker</b></label>
                            </div>

                            <label style="margin: 0px;" class=" primary"><%=yyyymm%></label>
                        </div>
                        <div style="width: 70%; margin-left: 15%;">
                            <h3 style="text-align: center;"><b><%=routeTimeline.timeline.Name%></b></h3><br>
                            <!-- route design -->
                            <% var current=new Date();
                            var currentStr=current.getFullYear()+'-';
                            if(current.getHours()<10) {
                                currentStr+='0';
                            }
                            currentStr+=current.getHours()+'-';
                            if(current.getMinutes()<10) {
                                currentStr+='0';
                            }
                            currentStr+=current.getMinutes();
                            var lastLoc={
                                LocName:null,
                                RcTime:null
                            },
                            currentLoc={
                                LocName:null,
                                RcTime:null
                            }, nextLoc= {
                                LocName:null,
                                RcTime:null
                            }
                            var currentIndex=0;
                             for(var i=0; i<routeTimeline.loc.length; i++) {
                                if(routeTimeline.loc[i].RcTime<=currentStr) {
                                    currentIndex=i+1;
                                }
                            } 
                            if(routeTimeline.loc[currentIndex-1]) {
                                lastLoc=routeTimeline.loc[currentIndex-1];
                            }
                            if(routeTimeline.loc[currentIndex]) {
                                currentLoc=routeTimeline.loc[currentIndex];
                            }
                            if(routeTimeline.loc[currentIndex+1]) {
                                nextLoc=routeTimeline.loc[currentIndex+1];
                            }
                            %>
                            <div class="horizontal">
                                <div class="route-left">
                                    <%=lastLoc.LocName%>
                                </div>
                                <div class="route-middle">
                                    <h5><b><%=currentLoc.LocName%></b></h5>
                                    <label style="font-size: small; margin-top: -10px;"><%=currentLoc.RcTime.substring(0, 5)%></label>
                                </div>
                                <div class="route-right">
                                    <%=nextLoc.LocName%>
                                </div>
                            </div>
                            <div class=" horizontal between" style="margin-top: -10px; padding-left: 10px; padding-right: 10px;">
                                <label style="font-size: smaller;"><%=lastLoc.RcTime.substring(0, 5)%></label>
                                <label style="font-size: smaller;"><%=nextLoc.RcTime.substring(0, 5)%></label>
                            </div>
                            <br>
                            <div class="horizontal between" style="margin-top: -10px;">
                                <label></label>
                            <label style="margin-left: auto; margin-right: auto;" ><b><%=lastLoc.LocName+'에서 '+currentLoc.LocName+'(으)로 이동중'%></b></label>
                            <label></label>
                            </div>
                            <p><b>노선정보</b></p>
                            <div class="horizontal between">
                                <label>계약 기간</label>
                                <label><b><%=routeTimeline.timeline.ContractStart+' ~ '+routeTimeline.timeline.ContractEnd%></b></label>
                            </div>
                            <div class="horizontal between">
                                <label>기본 물량</label>
                                <label><b><%=routeTimeline.item.DefaultCnt.toLocaleString()%>개</b></label>
                            </div>
                            <div class="horizontal between">
                                <label>누적 물량</label>
                                <label><b><%=routeTimeline.item.ItemCnt?routeTimeline.item.ItemCnt.toLocaleString():0%>개</b></label>
                            </div><br>
                            <p><b>차량정보</b></p>
                            <div class="horizontal between">
                                <label>물류사</label>
                                <label><b><%=routeTimeline.timeline.LogiName%></b></label>
                            </div>
                            <div class="horizontal between">
                                <label>버스사</label>
                                <label><b><%=routeTimeline.timeline.BusName%></b></label>
                            </div>
                            <div class="horizontal between">
                                <label>차량 번호</label>
                                <label><b><%=routeTimeline.timeline.Num?routeTimeline.timeline.Num:'차량 미배정'%></b></label>
                            </div>
                            <br>
                            <div class="horizontal between">
                                <div style="width: 50%;" class="horizontal">
                                    <img src="<%=routeTimeline.timeline.DriverPath%>" width="40" height="40">
                                    <div style="margin-left: 10px;">
                                        <label><b><%=routeTimeline.timeline.DriverName?routeTimeline.timeline.DriverName+'기사':'기사 미배정'%></b></label>
                                        <label><%=routeTimeline.timeline.DriverPhone?routeTimeline.timeline.DriverPhone:''%></label>
                                    </div>
                                </div>
                                <div style="width: 50%;" class="horizontal">
                                    <img src="<%=routeTimeline.timeline.PtPath%>" width="40" height="40">
                                    <div style="margin-left: 10px;">
                                        <label><b><%=routeTimeline.timeline.PtName?routeTimeline.timeline.PtName+'알바':'알바 미배정'%></b></label>
                                        <label><%=routeTimeline.timeline.PtPhone?routeTimeline.timeline.PtPhone:''%></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- calendar -->
                <div class="card3d" style="width: 59%;">
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>

</html>