<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>BusLinker</title>
    <script src="/public/js/container.js"></script>
    <script>
        $(function () {
            $('#submit_btn').click(function () {
                checkInput();
            })
            $('#input_email').change(function () {
                if (!checkEmail($(this).val())) {
                    $(this).css('color', 'red');
                } else {
                    $(this).css('color', 'black');
                }
            })
            setHeight();
            setCat();
        })

        function checkInput() {
            if($('#input_name').val()=='') {
                alert('이름을 입력해주세요.');
                return;
            } else if ($('#input_email').val() == '') {
                alert('메일 주소를 입력해주세요.');
                return;
            } else if (!checkEmail($('#input_email').val())) {
                alert('올바르지 않은 메일 주소입니다.');
                return;
            } else if ($('#input_message').val() == '') {
                alert('문의 내용을 입력해주세요.');
                return;
            } else {
                if (confirm('문의사항을 전송하시겠습니까?')) {
                    $('#touch-form').submit();
                }
            }
        }

        function checkEmail(email) {
            if (email.length < 5) {
                return false;
            } else if (email.indexOf('@') == -1) {
                return false;
            } else if (email.indexOf('.com') == -1 && email.indexOf('.kr') == -1 && email.indexOf('.net')) {
                return false;
            } else {
                return true;
            }
        }

        function setHeight() {
            var viewHeight = $(window).height();
            var navHeight = $('#nav-main').height();
            var helf = viewHeight / 2 - navHeight;
            $('#top-div').height(helf);        
            var contentsHeight = $('#ask-contents-div').height();

            $('#ask-contents-div').offset({ top: (viewHeight - contentsHeight) / 2 });
        }

        function setCat() {
            const cat='<%=cat%>';
            if(cat) {
                $('#subject').val(cat);
            }
        }
    </script>
</head>

<body>
    <%- include('nav') %>
    <div class="main" >
        <div id="contents" >
            <div style="width: 100%;background-color: #001F46;" id="top-div">
            </div>
            <section id="ask-contents-div" style="overflow-y: auto;">
                <h1 class="font-white">문의가 필요하신가요?</h1>
                <p class=" font-white size-14">문의사항에 대해 신속하고 정확히 답변해드리겠습니다.</p>
                <div class="card ask-div" style="height: 620px;">
                    <div id="ask-left">
                        <h4>문의하기</h4>
                        <form id="touch-form" method="POST" action="/Ask">
                            <div class="horizontal between" >
                                <div style="width: 29%;">
                                    <label>이름</label><br>
                                    <input name="name" class=" ask-input" type="email" placeholder="이름을 입력하세요." id="name" value="<%=user.userName%>">
                                </div>
                                <div style="width: 69%;">
                                    <label>메일</label><br>
                                    <input name="email" class=" ask-input" type="email" placeholder="메일을 입력하세요." id="input_email" value="<%=user.userID%>">
                                </div>    
                            </div><br>
                            <label>주제</label><br>
                            <select name="subject" class=" ask-input" id="subject">
                                <% for(var i=0; i<subjects.length; i++) { %>
                                <option value="<%=subjects[i].SubjectName%>"><%=subjects[i].SubjectName%></option>
                                <% } %>
                            </select>

                            <br><br>
                            <div class="horizontal between" style="align-items: flex-end;">
                                <textarea rows="15" placeholder="문의 내용을 입력하세요." name="message" class=" ask-input"
                                id="input_message"></textarea>
                                <img src="/public/images/send_ask.png" style="margin: 20px;" id="submit_btn">
                            </div>
                            <br>
                        </form>
                    </div>
                    <div id="ask-right">
                        <h3>실시간 상담하기</h3>
                        <img><br>
                        <label>월요일 - 금요일     08:00 ~ 20:00</label><br>
                        <label>토요일 - 일요일     08:00 ~ 12:00</label>
                        <br>
                        <img>
                        <label><a style="color: white;" href="tel:010-4713-8131">010-4713-8131</a></label>
                        <img><br>
                        <label><a style="color:white" href="https://pf.kakao.com/_Vxdxlsxb">@BusLinker</a></label>
                        <br>
                        <img>
                        <label><a style="color: white;" href="mailto:buslinker1@gmail.com">buslinker1@gmail.com</a></label>
                    </div>
                </div>

            </section>
        </div>
    </div>
</body>

</html>