<!DOCTYPE html>
<html>

<head>
    <title>정산관리</title>
    <%- include('config') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script>

        var chart;
        $(function () {
            setChart();
            setMonth();
            setLogis();
            $('#modal').hide();
            $('.popup').hide();
            setPrice();
            setClose();
            setCommission();
            setLogiAdFee();
            setLogiRunFee();
            setBusFee();
            setLogiDefaultFee();
            setOwnerDefaultFee();
            setOwnerAdFee();
            setOwnerDefaultCnt();
        });

        function setChart() {
            var options = {
                maintainAspectRatio: true,
                spanGaps: false,
                elements: {
                    line: {
                        tension: 0.4
                    }
                },
                scales: {
                    yAxes: [{
                        stacked: false,
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '금액'
                        }
                    }],
                    xAxes: [{
                        display: true,
                        type: 'category',
                        scaleLabel: {
                            display: false,
                            labelString: '월'
                        }
                    }],
                },
                tooltips: {
                    callbacks: {
                        title: function (tooltipItems, data) {
                            const month=data.labels[tooltipItems[0].index];
                            const title=month.split('-')[0]+'년 '+month.split('-')[1]+'월';
                            return title;
                        },
                        label: function(tooltipItems, data) {
                            var index=tooltipItems.index;
                            var value=`₩`+data.datasets[0].data[index].toLocaleString();
                            return value;
                        }
                    }
                },
                legend: {
                    display: false
                }

            };
            var ctx = document.getElementById('myChart').getContext('2d');
            var gradientAdd = ctx.createLinearGradient(0, 0, 0, 400);
            gradientAdd.addColorStop(0, 'rgba(119,100,228,1)');
            gradientAdd.addColorStop(1, 'rgba(119,100,228,0)');
            var label=[], data=[];
            <% for(var i=0; i<total.length; i++) { %>
                label.push('<%=total[i].Ym.substring(0, 7)%>');
                data.push(<%=total[i].price%>);
            <% } %>

            var data = {
                labels: label,
                datasets: [{
                    borderColor: '#7764E4',
                    backgroundColor: gradientAdd,
                    data: data,
                    label: '',
                },
              ]
            };

            chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });
        }

        // select month
        function setMonth() {
            $('#op-month').change(function () {
                const start = $(this).val().split(':')[0];
                const end = $(this).val().split(':')[1];
                const corp = $('#op-logis').val();
                location.href = `?start=${start}&end=${end}&corp=${corp}`;
            });
        }

        function setLogis() {
            $('#op-logis').change(function () {
                const start = $('#op-month').val().split(':')[0];
                const end = $('#op-month').val().split(':')[1];
                const corp = $(this).val();
                location.href = `?start=${start}&end=${end}&corp=${corp}`;

            });
        }

        function setPrice() {
            $('.price').click(function () {
                const cat = $(this).data('cat');
                if (cat) {
                    const name = $(this).data('name');
                    $('#modal').fadeIn(300);
                    $('.name').text(name);
                    const id = $(this).data('id');
                    console.log(id);
                    $('#input-id').val(id);
                    switch (cat) {
                        case 'commission':
                            $('#popup-commission').show();
                            break;
                        case 'logi-ad-fee':
                            $('#popup-logi-ad-fee').show();
                            break;
                        case 'logi-run-fee':
                            $('#popup-logi-run-fee').show();
                            break;
                        case 'bus':
                            $('#popup-bus-fee').show();
                            break;
                        case 'logi-default':
                            $('#popup-logi-default').show();
                            break;
                        case 'owner-default':
                            $('#popup-owner-default').show();
                            break;
                        case 'owner-ad':
                            $('#popup-owner-ad').show();
                            break;
                        case 'owner-cnt':
                            $('#popup-owner-cnt').show();
                            break;
                    }
                }
            });
        }

        function setClose() {
            $('.close').click(function () {
                $('.popup').hide();
                $('#modal').fadeOut(300);
            });
        }

        function setCommission() {
            $('#btn-commission').click(function () {
                const commission = $('#commission-input').val();
                if (commission == '') {
                    alert('수수료를 입력하세요.');
                    return;
                } else if (confirm('수수료율을 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/Commission', {
                        id: $('#input-id').val(),
                        commission: commission
                    }, function (data) {
                        if (data.Result) {
                            alert('수수료가 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }

        function setLogiAdFee() {
            $('#btn-logi-ad-fee').click(function () {
                const fee = $('#logi-ad-fee-input').val();
                if (fee == '') {
                    alert('단가를 입력하세요.');
                    return;
                } else if (confirm('단가를 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/AdFee', {
                        id: $('#input-id').val(),
                        fee: fee
                    }, function (data) {
                        if (data.Result) {
                            alert('단가가 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    })
                }
            });
        }

        function setLogiRunFee() {
            $('#btn-logi-run-fee').click(function () {
                const fee = $('#logi-run-fee-input').val();
                if (fee == '') {
                    alert('운임을 입력하세요.');
                    return;
                } else if (confirm('운임을 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/LogiRunFee', {
                        id: $('#input-id').val(),
                        fee: fee
                    }, function (data) {
                        if (data.Result) {
                            alert('운임이 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }

        function setBusFee() {
            $('#btn-bus-fee').click(function () {
                const fee = $('#bus-fee-input').val();
                if (fee == '') {
                    alert('운임을 입력하세요.');
                    return;
                } else if (confirm('운임을 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/BusFee', {
                        id: $('#input-id').val(),
                        fee: fee
                    }, function (data) {
                        if (data.Result) {
                            alert('운임이 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }

        function setLogiDefaultFee() {
            $('#btn-logi-default').click(function () {
                const fee = $('#logi-default-input').val();
                if (fee == '') {
                    alert('물류 수거 비용을 입력하세요.');
                    return;
                } else if (confirm('물류 수거 비용을 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/DefaultFee', {
                        id: $('#input-id').val(),
                        fee: fee
                    }, function (data) {
                        if (data.Result) {
                            alert('물류 수거 비용이 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }

        function setOwnerDefaultFee() {
            $('#btn-owner-default').click(function () {
                const fee = $('#owner-default-input').val();
                if (fee == '') {
                    alert('기본 비용을 입력하세요.');
                    return;
                } else if (confirm('기본 비용을 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/DefaultFee', {
                        id: $('#input-id').val(),
                        fee: fee
                    }, function (data) {
                        if (data.Result) {
                            alert('기본 비용이 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }

        function setOwnerAdFee() {
            $('#btn-owner-ad').click(function () {
                const fee = $('#owner-ad-input').val();
                if (fee == '') {
                    alert('추가 단가를 입력하세요.');
                } else if (confirm('추가 단가를 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/AdFee', {
                        id: $('#input-id').val(),
                        fee: fee
                    }, function (data) {
                        if (data.Result) {
                            alert('추가 단가가 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }

        function setOwnerDefaultCnt() {
            $('#btn-owner-cnt').click(function () {
                const cnt = $('#owner-cnt-input').val();
                if (cnt == '') {
                    alert('기본 물량을 입력하세요.');
                } else if (confirm('추가 단가를 지정하시겠습니까?')) {
                    $.post('/Manager/ajax/Update/OwnerDefaultCnt', {
                        id: $('#input-id').val(),
                        cnt: cnt
                    }, function (data) {
                        if (data.Result) {
                            alert('기본 물량이 지정되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }
    </script>
</head>

<body>
    <%- include('nav') %>
    <div id="modal">
        <input id="input-id" hidden>
        <!-- logi commission -->
        <div class="popup card" id="popup-commission">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>수수료율</b></label>
                <input id="commission-input" class="box0" style="width: 100%;" type="number"
                    placeholder="수수료율(%)을 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-commission">확인</button>
                </div>
            </div>
        </div>
        <!-- logi-ad-fee -->
        <div class="popup card" id="popup-logi-ad-fee">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>단가</b></label>
                <input id="logi-ad-fee-input" class="box0" style="width: 100%;" type="number"
                    placeholder="단가(원)를 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-logi-ad-fee">확인</button>
                </div>
            </div>
        </div>
        <!-- logi-run-fee -->
        <div class="popup card" id="popup-logi-run-fee">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>운임</b></label>
                <input id="logi-run-fee-input" class="box0" style="width: 100%;" type="number"
                    placeholder="운임(원)을 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-logi-run-fee">확인</button>
                </div>
            </div>
        </div>
        <!-- bus run fee -->
        <div class="popup card" id="popup-bus-fee">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>운임</b></label>
                <input id="bus-fee-input" class="box0" style="width: 100%;" type="number" placeholder="운임(원)을 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-bus-fee">확인</button>
                </div>
            </div>
        </div>
        <!-- logi defulat fee -->
        <div class="popup card" id="popup-logi-default">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>물류 수거 비용</b></label>
                <input id="logi-default-input" class="box0" style="width: 100%;" type="number"
                    placeholder="물류 수거 비용(원)을 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-logi-default">확인</button>
                </div>
            </div>
        </div>
        <!-- owener default fee -->
        <div class="popup card" id="popup-owner-default">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>기본 비용</b></label>
                <input id="owner-default-input" class="box0" style="width: 100%;" type="number"
                    placeholder="기본 비용(원)을 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-owner-default">확인</button>
                </div>
            </div>
        </div>
        <!-- owner ad fee -->
        <div class="popup card" id="popup-owner-ad">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>추가 단가</b></label>
                <input id="owner-ad-input" class="box0" style="width: 100%;" type="number"
                    placeholder="추가 단가(원)을 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-owner-ad">확인</button>
                </div>
            </div>
        </div>
        <!-- owner defulat cnt -->
        <div class="popup card" id="popup-owner-cnt">
            <div class="card-body">
                <div class="horizontal between">
                    <h4 class="name">물류사</h4>
                    <img class=" close" src="/public/images/x_icon.png">
                </div>
                <br>
                <label><b>기본 물량</b></label>
                <input id="owner-cnt-input" class="box0" style="width: 100%;" type="number" placeholder="기본 물량을 입력하세요.">
                <br><br>
                <div class="horizontal between">
                    <label></label>
                    <button type="button" class="btn-main" id="btn-owner-cnt">확인</button>
                </div>
            </div>
        </div>
    </div>

    <section class="container-main">
        <div style="width:95%">
            <br>
            <h4>손익 그래프</h4>
            <br>
            <div class="card" style="width: 100%; ">
                <div class="card-body">
                <canvas id="myChart" style="width: 100%; height: 300px;"></canvas>
            </div>
            </div>
            <br>
            <div class="horizontal between">
                <h4>세부 내역</h4>
                <select class="box0" id="op-month">
                    <% 
                    var year=new Date().getFullYear();
                    var selected='';
                    var month=new Date().getMonth()+2;
                        for(var m=1; m<month; m++) { 
                            var data=year+'-'+m+'-01';
                            if(data==start) {
                                selected='selected';
                            } else {
                                selected='';
                            }
                            var print=year+'-';
                            if(m<10)
                                print+='0';
                            print+=m;
                            %>

                    <option value="<%=year%>-<%=m%>-01:<%=year%>-<%=m+1%>-01" <%=selected%>><%=print%></option>
                    <% } %>
                </select>
            </div>

            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <div class="horizontal between">
                        <h5>물류 수거 비용</h5>
                        <select class="box0" id="op-logis">
                            <% for(var i=0; i<logis.length; i++) { 
                                var selectedL='';
                                if(logis[i].ID==corp) {
                                    selectedL='selected';
                                } else {
                                    selectedL='';
                                }
                                %>
                            <option value="<%=logis[i].ID%>" <%=selectedL%>><%=logis[i].Name%></option>
                            <% } %>
                        </select>
                    </div>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="head">화주</th>
                                <th class="head">기본 물량</th>
                                <th class="head">누적 물량</th>
                                <th class="head">기본 비용</th>
                                <th class="head">추가 단가</th>
                                <th class="head">상태</th>
                                <th class="head">비용</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<ownerFee.length; i++)  {
                                var ownerName=ownerFee[i].Name;
                                var defaultCnt=ownerFee[i].DefaultCnt;
                                var defaultFee=ownerFee[i].DefaultFee;
                                var adFee=ownerFee[i].AdFee;
                                // mayne not exist
                                var stackCnt=ownerFee[i].ItemCnt;
                                if(stackCnt) {
                                    //stackCnt=stackCnt.toLocaleString();
                                } else {
                                    stackCnt='누적물량 없음';
                                }
                                // set status
                                var status;
                                stackCnt=parseInt(stackCnt);
                                
                                if(defaultCnt>stackCnt) {
                                    status='기본 물량 미만';
                                } else if(defaultCnt==stackCnt) {
                                    status='기본 물량';
                                } else {
                                    status=(stackCnt-defaultCnt)+'개 초과';
                                }
                                // set total fee
                                var totalFee=defaultFee;
                                // if fee more
                                if(typeof(stackCnt)=='number'&&defaultCnt<stackCnt) {
                                    totalFee=defaultFee+(stackCnt-defaultCnt)*adFee;
                                }
                                %>
                            <tr>
                                <td><b><%=ownerName%></b></td>
                                <td><b><span class="price" data-cat="owner-cnt" data-id="<%=ownerFee[i].ID%>"
                                            data-name="<%=ownerFee[i].Name%>"><%=defaultCnt.toLocaleString()%>개</span></b>
                                </td>
                                <td><b><%=ownerFee[i].ItemCnt?ownerFee[i].ItemCnt.toLocaleString():0%>개</b></td>
                                <td><b><span class="price" data-cat="owner-default" data-id="<%=ownerFee[i].ID%>"
                                            data-name="<%=ownerFee[i].Name%>"><%=defaultFee.toLocaleString()%>원</span></b>
                                </td>
                                <td><b>개당 <span class="price" data-cat="owner-ad" data-id="<%=ownerFee[i].ID%>"
                                            data-name="<%=ownerFee[i].Name%>"><%=adFee.toLocaleString()%>원</span></b>
                                </td>
                                <td><b><%=status%></b></td>
                                <td><b><%=totalFee.toLocaleString()%>원</b></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="horizontal between">
                <div class="card" style="width: 49.5%;">
                    <div class="card-body">
                        <div class="horizontal between">
                            <div class="horizontal" style="align-items:flex-start;">
                                <h4 class="card-title">물류 수거 수수료</h4>
                                <img src="/public/images/calculate_info.png" class="calculate-info">
                            </div>
                            <img src="/public/images/calculate_plus.png" class="calculate-icon">
                        </div>
                        <br>
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="head">물류사</th>
                                    <th class="head">물류 수거 비용</th>
                                    <th class="head">수수료율</th>
                                    <th class="head">비용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i<logiFee.length; i++) { %>
                                <tr>
                                    <td><b><%=logiFee[i].Name%></b></td>
                                    <td><b><%=logiFee[i].TotalFee? logiFee[i].TotalFee.toLocaleString():0%>원</b>
                                    </td>
                                    <% var commission='미설정';
                                            var price=0;
                                            if(logiFee[i].Commission) {
                                                commission=logiFee[i].Commission+'%';
                                                price=(logiFee[i].TotalFee/100)*logiFee[i].Commission;
                                            } %>
                                    <td><b><span class="price" data-cat="commission" data-name="<%=logiFee[i].Name%>"
                                                data-id="<%=logiFee[i].ID%>"><%=commission%></span></b></td>
                                    <td><b><%=price.toLocaleString()%>원</b></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card" style="width: 49.5%;">
                    <div class="card-body">
                        <div class="horizontal between">
                            <div class="horizontal" style="align-items:flex-start;">
                                <h4 class="card-title">물류 배송 비용</h4>
                                <img src="/public/images/calculate_info.png" class="calculate-info">
                            </div>
                            <img src="/public/images/calculate_plus.png" class="calculate-icon">
                        </div>
                        <br>
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="head">물류사</th>
                                    <th class="head">배송 물량</th>
                                    <th class="head">단가</th>
                                    <th class="head">비용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i<logiFee.length; i++) { %>
                                <tr>
                                    <td><b><%=logiFee[i].Name%></b></td>
                                    <td><b><%=logiFee[i].ItemCnt>0? logiFee[i].ItemCnt.toLocaleString(): 0%>개</b></td>
                                    <td><b>개당 <span class="price" data-cat="logi-ad-fee" data-id="<%=logiFee[i].ID%>"
                                                data-name="<%=logiFee[i].Name%>"><%=logiFee[i].AdFee? logiFee[i].AdFee.toLocaleString()+'원': '미설정'%></span></b>
                                    </td>
                                    <td><b><%=(logiFee[i].ItemCnt*logiFee[i].AdFee).toLocaleString()%>원</b></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="horizontal between">
                <div class="card" style="width: 49.5%;">
                    <div class="card-body">
                        <div class="horizontal between">
                            <div class="horizontal" style="align-items: flex-start;">
                                <h4 class="card-title">물류 노선 비용</h4>
                                <img src="/public/images/calculate_info.png" class="calculate-info">
                            </div>
                            <img src="/public/images/calculate_minus.png" class="calculate-icon">
                        </div>
                        <br>
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="head">버스사</th>
                                    <th class="head">노선</th>
                                    <th class="head">운임</th>
                                    <th class="head">비용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i<busFee.length; i++) { %>
                                <tr>
                                    <td><b><%=busFee[i].Name%></b></td>
                                    <td><b><%=busFee[i].Cnt%>개</b></td>
                                    <td><b>노선당 <span class="price" data-cat="bus" data-id="<%=busFee[i].ID%>"
                                                data-name="<%=busFee[i].Name%>"><%=busFee[i].DefaultFee.toLocaleString()%>원</span></b>
                                    </td>
                                    <td><b><%=(busFee[i].DefaultFee*busFee[i].Cnt).toLocaleString()%>원</b></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card" style="width: 49.5%;">
                    <div class="card-body">
                        <div class="horizontal between">
                            <div class="horizontal" style="align-items: flex-start;">
                                <h4 class="card-title">통근 노선 비용</h4>
                                <img src="/public/images/calculate_info.png" class="calculate-info">
                            </div>
                            <img src="/public/images/calculate_plus.png" class="calculate-icon">
                        </div>
                        <br>
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="head">물류사</th>
                                    <th class="head">노선</th>
                                    <th class="head">운임</th>
                                    <th class="head">비용</th>
                                    <th class="head">중개 수수료</th>
                                    <th class="head">합계</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i<logiFee.length; i++) { %>
                                <tr>
                                    <td><b><%=logiFee[i].Name%></b></td>
                                    <td><b><%=logiFee[i].RouteCnt?logiFee[i].RouteCnt:0 %>개</b></td>
                                    <td><b>노선당 <span class="price" data-cat="logi-run-fee" data-id="<%=logiFee[i].ID%>"
                                                data-name="<%=logiFee[i].Name%>"><%=logiFee[i].RunFee? logiFee[i].RunFee.toLocaleString()+'원':'미설정'%></span></b>
                                    </td>
                                    <td><b><%=(logiFee[i].RouteCnt*logiFee[i].RunFee).toLocaleString()%>원</b></td>
                                    <td><b><%=((logiFee[i].RouteCnt*logiFee[i].RunFee)/10).toLocaleString()%>원</b></td>
                                    <td><b><%=((logiFee[i].RouteCnt*logiFee[i].RunFee)-((logiFee[i].RouteCnt*logiFee[i].RunFee)/10)).toLocaleString()%>원</b>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>