<!DOCTYPE html>
<html>
    <head>
        <title>Buslinker</title>
        <%- include('config')%>
        <script>
            $(function() {
                setCat();
            });

            function setCat() {
                $('#select-cat').change(function(){
                    const cat=$(this).val();
                    var html='';
                    var date=new Date();
                    if(cat=='month') {
                        for(var i=1; i<=date.getMonth()+1; i++) {
                            var month=date.getFullYear()+'-';
                            if(i<10) {
                                month+='0';
                            }
                            month+=i;
                            html+=`<option value='${month}'>${month}</option>`;
                        }
                    } else {
                        for(var i=1; i<=date.getDate(); i++) {
                            var d=date.getFullYear()+'-';
                            if(date.getMonth()<9) {
                                d+='0';
                            }
                            d+=(date.getMonth()+1)+'-';
                            if(i<10) {
                                d+='0';
                            }
                            d+=i;
                            html+=`<option value='${d}'>${d}</option>`;
                        }
                    }
                    $('#select-divide').html(html);
                }); 
                //$('#select-cat').val();
            }
        </script>
    </head>
    <body>
        <%- include('nav') %>
        <section class="container-main">
            <div class="normal">
                <div class="horizontal between">
                    <h4><b>종합</b></h4>
                    <div class="horizontal">
                        <!-- 일/월 -->
                    <select class="box0" id="select-cat">
                        <option value="month">월별</option>
                        <option value="date">일별</option>
                    </select>
                    <!-- 날짜/달 -->
                    <select class="box0" id="select-divide">

                    </select>
                    </div>
                </div>
                
                <br>
                <div class="horizontal between">
                    <!-- 통근 노선 -->
                    <div class="card" style="width: 24%;">
                        <div class="card-body">
                            <div class="horizontal">
                                <img height="100" width="100">
                                <div style="margin-left: 20px;">
                                    <h3><b><%=routeCnt%></b></h3>
                                    <p>통근 노선</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 배송 물량 -->
                    <div class="card" style="width: 24%;">
                        <div class="card-body">
                            <div class="horizontal">
                                <img height="100" width="100">
                                <div style="margin-left: 20px;">
                                    <h3><b><%=logiItemCnt.toLocaleString()%></b></h3>
                                    <p>배송 물량</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 수거 물량 -->
                    <div class="card" style="width: 24%;">
                        <div class="card-body">
                            <div class="horizontal">
                                <img height="100" width="100">
                                <div style="margin-left: 20px;">
                                    <h3><b><%=ownerItemCnt.toLocaleString()%></b></h3>
                                    <p>수거 물량</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 전체 물량 -->
                    <div class="card" style="width: 24%;">
                        <div class="card-body">
                            <div class="horizontal">
                                <img height="100" width="100">
                                <div style="margin-left: 20px;">
                                    <h3><b><%=(logiItemCnt+ownerItemCnt).toLocaleString()%></b></h3>
                                    <p>전체 물량</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 배송 및 수거 현황 -->
                    <h4><b>배송 및 수거 현황</b></h4>
                
            </div>
        </section>
    </body>
</html>;