<!DOCTYPE html>
<html>

<head>
    <%- include('config')%>
    <title>물량관리</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script>
        $(function () {
            setTotal();
            setDate();
            showDate();
            setToggle();
            $('#modal').hide();
            $('.close').click(function () {
                $('#modal').fadeOut(300);
                $('#popup-position').hide();
            });
            setLink();
            setCat();
            setDivider();
        });

        function setTotal() {
            const cnts = $('.cnt');
            var total = 0;
            for (var i = 0; i < cnts.length; i++) {
                total += (Number)($(cnts[i]).text());
            }
            var ogTxt = $('#total-cnt').text()
            $('#total-cnt').text(ogTxt + total + '상자');
        }

        function setDate() {
            $('#select-date').change(function () {
                var date = $(this).val();
                var cat = $('#select-cat').val();
                location.href = `?date=${date}&cat=${cat}`;
            });
        }
        function showDate() {
            $('#select-date').children('option[value=<%=current%>]').attr('selected', 'selected');
        }
        function setToggle() {
            $('.extend-table').click(function () {
                var logi = $(this).data('logi');
                $(`tr[data-logi='${logi}']`).fadeToggle(300);
            });
        }
        function setLink() {
            $('.position').click(function () {
                const listID = $(this).data('list');
                const url = `/Manager/Sector?ListID=${listID}`;
                $('#iframe').attr('src', url);
                $('#popup-position').show();
                $('#modal').fadeIn(300);
            });
        }

        function setCat() {
            $('#select-cat').val('<%=cat%>');
            $('#select-cat').change(function () {
                const cat = $(this).val();
                const date = $('#select-date').val();
                location.href = `?cat=${cat}&date=${date}`;
            });
        }

        function setDivider() {
            const trs=$('tr');
            for(var i=0; i<trs.length; i++) {
                var tr=$(trs[i]);
                
                if(tr.attr('class')=='cat-tr') {
                    
                }
            }
            
            const dividers=$('.item-divider');
            // $(dividers[dividers.length-1]).addClass('item-divider-last');
        }
    </script>
</head>

<body style="background-color: #f5f5f5;">
    <div id="modal">
        <div style="width: 50vw; background-color: #EFEFEF;" id="popup-position">
            <div class="horizontal between">
                <div class="single-tab">
                    <p>상단화물</p>
                </div>
                <img src="/public/images/x_icon.png" class="close">
            </div>
            <iframe style="width: 100%; height: 65vh;" id="iframe"></iframe>
        </div>
    </div>
    <%- include('nav')%>
    <section class="container-main">
        <div class="full-contents">
            <div class="horizontal between">
                <div>
                    <h5 class=" primary">물량 현황</h5>
                    <h3><b id="total-cnt" class="size-25 primary">배송 </b></h3>
                </div>
                <div class="horizontal">
                    <!-- select date -->
                    <select class="box0" id="select-date">
                        <% var d=new Date(); 
                                var length=d.getDate()+1;
                                var month=d.getMonth()+1;
                                if(month<10) {
                                    month='0'+month;
                                }
                                var year=d.getFullYear();
                            %>
                        <% for(var i=1; i<length; i++) { %>
                        <% var dd;%>
                        <% if(i<10) {
                                    dd='0'+i;
                                } else {
                                    dd=i;
                                } 
                                var str=year+'-'+month+'-'+dd;
                                %>

                        <option value="<%=str%>" selected><%=str%></option>
                        <% } %>
                    </select>
                    <div style="width: 20px;"></div>
                    <!-- 배송 / 수거 선택 -->
                    <select class="box0" id="select-cat">
                        <option value="delivery">배송</option>
                        <option value="take">수거</option>
                    </select>
                </div>
            </div>

            <% if(cat=='delivery') { %>
            <table style="width: 100%; margin-top: 30px;  border-collapse: separate;
            border-spacing: 0px 0px;">
                <thead class="blue">
                    <th class="blue">회사</th>
                    <th class="blue">기사</th>
                    <th class="blue">차량</th>
                    <th class="blue">상태</th>
                    <th class="blue">물량</th>
                </thead>
                <tbody>
                    <% for(var i=0; i<route.length; i++) { %>
                    <!-- logi title -->
                    <% if(i==0||(i!=0&&route[i].Logi!=route[i-1].Logi)) { %>
                    <tr class="cat-tr">
                        <td>
                            <h5><b><%=route[i].Logi%></b></h5>
                        </td>
                        <td></td>
                        <td></td>
                        <td>마감 완료</td>
                        <td>
                            <div class=" horizontal between">
                                <label></label>
                                <img class="extend-table" src="/public/images/down.png" data-logi="<%=route[i].Logi%>">
                            </div>

                        </td>
                    </tr>
                    <% } %>
                    <tr data-logi="<%=route[i].Logi%>" style="height: 50px; vertical-align: middle; border-spacing: none;">
                        <td>
                            <div class=" horizontal">
                                <div class=" horizontal" style="align-items:flex-end;">
                                    <div class="item-divider"></div>
                                    <div class="item-divider-h"></div>
                                </div>
                                <%=route[i].Name%>
                            </div>
                        </td>
                        <% var driver='기사 미배정';
                        var bus='차량 미배정';
                        if(route[i].DriverName) {
                            driver=route[i].DriverName+' 기사';
                        }
                        if(route[i].BusNum) {
                            bus=route[i].BusNum;
                        } %>
                        <td><%=driver%></td>
                        <td><%=bus%></td>
                        <% var status;
                                if(route[i].ItemCnt)
                                    status='마감 완료';
                                else
                                    status='상품 미배정'; %>
                        <td><%=status%></td>
                        <td class="cnt"><%=route[i].ItemCnt%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <table style="width: 100%; margin-top: 30px;">
                <thead class=" blue">
                    <th class="blue">노선</th>
                    <th class="blue">기사</th>
                    <th class="blue">차량</th>
                    <th class="blue">상태</th>
                    <th class="blue">물량</th>
                    <th class="blue">화주</th>
                </thead>
                <tbody>
                    <% for(var i=0; i<take.length; i++) { %>
                    <tr style="height: 50px;">
                        <td><%=take[i].Name%></td>
                        <td><%=take[i].DriverName?take[i].DriverName:'기사 미배정'%></td>
                        <td><%=take[i].Num?take[i].Num:'차량 미배정'%></td>
                        <td><%=take[i].ItemCnt?'마감 완료':'미입력'%></td>
                        <td><%=take[i].ItemCnt?take[i].ItemCnt.toLocaleString():0%></td>
                        <td><%=take[i].Owners%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>
        </div>

    </section>
</body>

</html>