<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>노선관리</title>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/public/js/route.js"></script>
</head>

<body>
    <%- include('nav') %>
    <section class="container-main">
        <form id="route-form" method="POST" action="/Manager/Create/Route">
            <!-- modal popups -->
            <div id="modal">
                <!-- station -->
                <div class="card popup" id="popup-station">
                    <div class="card-body">
                        <div class="horizontal between">
                            <h4 class="card-title">정류장 선택</h4>
                            <img src="/public/images/x_icon.png" class="close">
                        </div>
                        <label>정류장 이름</label>
                        <input class="form-control" placeholder="정류장 이름" id="station-name" name="station-name"><br>
                        <label>정류장 주소</label>
                        <input class="form-control" readonly placeholder="주소 검색" id="station-addr"
                            name="station-addr"><br>
                        <label>출근 출발 시간</label>
                        <input class="form-control" type="time" id="station-start" name="station-start"><br>
                        <label>퇴근 도착 시간</label>
                        <input class="form-control" type="time" id="station-end" name="station-end"><br>
                        <button class="btn-block btn-main" id="station-btn" type="button">확인</button>
                    </div>
                </div>
                <!-- logistic -->
                <div class="card popup" id="popup-logi">
                    <div class="card-body">
                        <div class="horizontal between">
                            <h4 class="card-title">물류사 선택</h4>
                            <img src="/public/images/x_icon.png" class="close">
                        </div>
                        <label>물류사 이름</label>
                        <select class="custom-select" id="logi-id" name="logi-id">
                            <% for(var i=0; i<logis.length; i++) { %>
                            <option value="<%=logis[i].ID+'-'+logis[i].Name%>"><%=logis[i].Name%></option>
                            <% } %>
                        </select><br>
                        <label>간선상차 시작 시간</label>
                        <input class="form-control" type="time" id="logi-start" name="logi-start"><br>
                        <label>간선하차 시작 시간</label>
                        <input class="form-control" type="time" id="logi-end" name="logi-end"><br>
                        <button class="btn-block btn-main" id="logi-btn" type="button">확인</button>
                    </div>
                </div>
                <!-- 공터 -->
                <div class="card popup" id="popup-empty">
                    <div class="card-body">
                        <div class="horizontal between">
                            <h4 class="card-title">공터 선택</h4>
                            <img src="/public/images/x_icon.png" class="close">
                        </div>
                        <label>공터 이름</label>
                        <input class="form-control" type="text" name="empty-name" id="empty-name"><br>
                        <label>공터 주소</label>
                        <input class="form-control" name="empty-addr" id="empty-addr" readonly><br>
                        <label>간선하차 시작 시간</label>
                        <input class="form-control" name="empty-time" id="empty-time" type="time"><br>
                        <button type="button" class="btn-block btn-main" id="empty-btn">확인</button>
                    </div>
                </div>
                <!-- owner -->
                <div class="card popup" id="popup-owner">
                    <div class="card-body">
                        <div class="horizontal between">
                            <h4 class="card-title">화주사 추가</h4>
                            <img src="/public/images/x_icon.png" class="close">
                        </div>
                        <select class="custom-select" id="owner-id">
                        </select><br>
                        <label>수거 시작 시간</label>
                        <input class="form-control" type="time" id="owner-time"><br>
                        <button class="btn-block btn-main" type="button" id="owner-btn">확인</button>
                    </div>
                </div>
                <!-- select bus -->
                <div class="card popup" id="popup-bus">
                    <div class="card-body">
                        <div class="horizontal between">
                            <h4 class="card-title">버스사 선택</h4>
                            <img src="/public/images/x_icon.png" class="close">
                        </div>
                        <select name="bus" class="custom-select">
                            <% for(var i=0; i<bus.length; i++) { %>
                                <option value="<%=bus[i].ID%>"><%=bus[i].Name%></option>
                            <% } %>
                        </select>
                        <br>
                        <br>
                        <button class="btn-block btn-main" id="bus-btn" type="button">확인</button>
                    </div>
                </div>
                <!-- maange part time member -->
                <div id="manage-pt" class="popup">
                    <div class="vertical" style="background-color: white;">
                        <br>
                    <div class="horizontal between" style="width: 95%;">
                        <div>
                            <label id="route-name">마포-대한통운</label><br>
                            <label id="contract">2020-01-01 ~ 2020-06-01</label>
                        </div>
                        <h3>원하는 날짜에 기사 및 차량을 드래그하세요.</h3>
                        <img src="/public/images/x_icon.png" id="close-btn">
                    </div>
                    <br>
                    <iframe id="schedule-frame"  style="width: 80vw; height: 85vh; border: none;"></iframe>
                </div>
                </div>
            </div>
            
            <div class="drop-menu" id="drop-name">
                <ul class="drop-list">
                    <li class="drop-item"><a href="?order=asc">물류사 오름차순</a></li>
                    <li class="drop-item"><a href="?order=desc">물류사 내림차순</a></li>
                </ul>
            </div>
            <div class="drop-menu" id="drop-contract">
                <ul class="drop-list">
                    <li class="drop-item"><a href="?current=true">계약 진행</a></li>
                    <li class="drop-item"><a href="?current=false">계약 종료</a></li>
                </ul>
            </div>
            <table id="route-table">
                <thead>
                    <th class="remove"></th>
                    <th class="head" style="width: 15 0px;"><div class="sort">
                        <label>이름</label>
                        <img src="/public/images/down.png" class="drop" data-menu="drop-name">
                    </div></th>
                    <th class="head" colspan="2" style="width: 300px;"><div class="sort"><label>계약 기간</label>
                        <img src="/public/images/down.png" class="drop" data-menu="drop-contract"></div></th>
                    <th class="head" colspan="14">경로</th>
                </thead>
                <tbody> 
                    <!-- add btn -->
                    <tr>
                        <td colspan="14">
                            <br>
                            <div class="vertical" style="cursor: pointer;" id="add-btn">
                                <img src="/public/images/add.png" class="add-icon">
                                <p class="add-txt"><b>경로 추가</b></p>
                            </div>
                        </td>
                    </tr>
                    <!-- add line -->
                    <tr id="add-tr" class="route-tr">
                        <td class="remove"></td>
                        <td class="mid"> 
                            <input class="box0" placeholder="name" name="name" id="input-name">
                        </td>
                        
                        <td class="mid2" style="width: 400px;">
                            <input type="date" id="contract-start" class="box0" name="contract-start">
                            &nbsp;~&nbsp;
                            <input class="box0" type="date" id="contract-end" name="contract-end">
                        </td>
                        <td class="space">
                        </td>
                        <td colspan="10">
                            <!-- station -->
                            <div id="line-station" class="line line-station">
                                <div class="vertical destination destination-left">
                                    <div class="destination-circle">
                                        <img src="/public/images/edit.png" class="edit" data-cat="0">
                                    </div>
                                    <label class="destination-txt" id="station1">정류장 선택<br>&nbsp;</label>
                                </div>

                                <!-- logistic center -->
                                <div class="line line-logi" id="line-logi">
                                    <div class="vertical destination destination-left">
                                        <div class="destination-circle">
                                            <img src="/public/images/edit.png" class="edit" data-cat="1">
                                        </div>
                                        <label class="destination-txt" id="logi1">물류사 선택<br>&nbsp;</label>
                                    </div>
                                    <!-- owners -->
                                    <div class="line line-owner" id="line-owner">
                                        <!-- 공터 -->
                                        <div class="vertical destination destination-left">
                                            <div class="destination-circle">
                                                <img src="/public/images/edit.png" class="edit" data-cat="2">
                                            </div>
                                            <label class="destination-txt" id="empty">공터 선택<br>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="vertical destination destination-right">
                                        <div class="destination-circle">
                                            <img src="/public/images/edit.png" class="edit" data-cat="1">
                                        </div>
                                        <label class="destination-txt" id="logi2">물류사 선택<br>&nbsp;</label>
                                    </div>
                                </div>

                                <div class="vertical destination destination-right">
                                    <div class="destination-circle">
                                        <img src="/public/images/edit.png" class="edit" data-cat="0">
                                    </div>
                                    <label class="destination-txt" id="station2">정류장 선택<br>&nbsp;</label>
                                </div>

                            </div>
                        </td>
                        <td style="width: 100px;">
                            <div class="horizontal center" style="margin-left: 30px; margin-bottom: -5px;">
                                <img src="/public/images/yes.png" class="sm-btn" id="next-btn">
                                <img src="/public/images/add_primary.png" class="sm-btn" id="add-owner-btn">
                            </div>
                        </td>
                    </tr>
                    <!-- original data -->
                    <% for(var i=0; i<routes.length; i++) {
                        // formating dates
                        var startDate=new Date(routes[i].ContractStart);
                        var start=startDate.getFullYear()+'-'+(startDate.getMonth()+1)+'-'+startDate.getDate();
                        var endDate=new Date(routes[i].ContractEnd);
                        var end=endDate.getFullYear()+'-'+(endDate.getMonth()+1)+'-'+endDate.getDate();
                        %>
                        <tr style="height: 20px;"></tr>
                    <tr class="route-tr">
                        <td class="remove">
                            <img src="/public/images/remove.png" class="sm-btn remove-btn" data-id="<%=routes[i].RouteID%>" data-name="<%=routes[i].Name%>">
                            </td>
                        <td class="mid" style="width: 150px;"><b><%=routes[i].Name%></b><br><%=routes[i].Bus%></td>
                        <td class="mid" style="width: 300px;"><b><%=start+' ~ '+end%><br><span class="link" data-id="<%=routes[i].RouteID%>">일정 상세보기</span></b></td>
                        <td class="space"></td>
                        <td colspan="10">
                            <!-- station -->
                            <div class="line line-station">
                                <div class="vertical destination destination-left">
                                    <div class="destination-circle"></div>
                                    <label class="destination-txt" ><%=routes[i].Loc[0].LocName%><br><%=(routes[i].Loc[0].RcTime).substr(0, 5)%></label>
                                </div>

                                <!-- logistic center -->
                                <div class="line line-logi" >
                                    <div class="vertical destination destination-left">
                                        <div class="destination-circle"></div>
                                        <label class="destination-txt" ><%=routes[i].Loc[1].LocName%><br><%=(routes[i].Loc[1].RcTime).substr(0, 5)%></label>
                                    </div>
                                    <!-- owners -->
                                    <div class="line line-owner">
                                        <!-- 공터 -->
                                        <div class="vertical destination destination-left">
                                            <div class="destination-circle"></div>
                                            <label class="destination-txt" ><%=routes[i].Loc[2].LocName%><br><%=(routes[i].Loc[2].RcTime).substr(0, 5)%></label>
                                        </div>
                                        <!-- owners-->
                                        <% for(var j=3; j<routes[i].Loc.length-2; j++) { 
                                            var right='';
                                            if(routes[i].Loc.length-3==j) {
                                                right='destination-right';
                                            }
                                            %>
                                            <div class="vertical destination <%=right%>">
                                            <div class="destination-circle"></div>
                                            <label class="destination-txt" ><%=routes[i].Loc[j].LocName%><br><%=(routes[i].Loc[j].RcTime).substr(0, 5)%></label>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="vertical destination destination-right">
                                        <div class="destination-circle"></div>
                                        <label class="destination-txt" ><%=routes[i].Loc[routes[i].Loc.length-2].LocName%><br><%=(routes[i].Loc[routes[i].Loc.length-2].RcTime).substr(0, 5)%></label>
                                    </div>
                                </div>

                                <div class="vertical destination destination-right">
                                    <div class="destination-circle"></div>
                                    <label class="destination-txt" ><%=routes[i].Loc[routes[i].Loc.length-1].LocName%><br><%=(routes[i].Loc[routes[i].Loc.length-1].RcTime).substr(0, 5)%></label>
                                </div>
                            </div>
                            </td>
                            <td style="width: 100px;">
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </section>
</body>

</html>