<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>노선관리</title>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/public/js/route.js"></script>
</head>

<body>
    <%- include('nav') %>
    <section class="container-main">
        <form id="route-form" method="POST" action="/Manager/Create/Route">
            <!-- modal popups -->
            <div id="modal">
                <!-- station -->
                <div class="popup small-popup" id="popup-station">
                    <div class=" samll-popup-header">
                        <label class=" small-popup-title"><b>새로운 노선 추가</b></label>
                        <img src="/public/images/popup_x_white.svg" class="close">
                    </div>
                    <div class=" small-popup-contents">
                        <label><b>정류장 이름</b></label>
                        <input class="input-shadow" placeholder="정류장 이름" id="station-name" name="station-name"><br>
                        <label><b>정류장 주소</b></label>
                        <input class="input-shadow" readonly placeholder="주소 검색" id="station-addr"
                            name="station-addr"><br>
                        <label><b>출근 출발 시간</b></label>
                        <input class="input-shadow" type="time" id="station-start" name="station-start"><br>
                        <label><b>퇴근 도착 시간</b></label>
                        <input class="input-shadow" type="time" id="station-end" name="station-end"><br>
                        <div class=" horizontal between">
                            <label></label>
                            <button class="btn-blue" id="station-btn" type="button">확인</button>
                        </div>
                    </div>
                </div>
                <!-- logistic -->
                <div class="popup small-popup" id="popup-logi">
                    <div class="samll-popup-header">
                        <label class=" small-popup-title"><b>새로운 노선 추가</b></label>
                        <img src="/public/images/popup_x_white.svg" class="close">
                    </div>
                    <div class=" small-popup-contents">
                        <label><b>물류사 이름</b></label>
                        <select class="custom-select" id="logi-id" name="logi-id">
                            <% for(var i=0; i<logis.length; i++) { %>
                            <option value="<%=logis[i].ID+'-'+logis[i].Name%>"><%=logis[i].Name%></option>
                            <% } %>
                        </select><br>
                        <label><b>간선상차 시작 시간</b></label>
                        <input class="input-shadow" type="time" id="logi-start" name="logi-start"><br>
                        <label><b>간선하차 시작 시간</b></label>
                        <input class="input-shadow" type="time" id="logi-end" name="logi-end"><br>
                        <div class=" horizontal between">
                            <label></label>
                            <button class="btn-blue" id="logi-btn" type="button">확인</button>
                        </div>
                        
                    </div>
                    

                </div>
                <!-- 공터 -->
                <div class="small-popup popup" id="popup-empty">
                        <div class="samll-popup-header">
                            <label class=" small-popup-title"><b>새로운 노선 추가</b></label>
                            <img src="/public/images/popup_x_white.svg" class="close">
                        </div>
                        <div class=" small-popup-contents">
                            <label><b>공터 이름</b></label>
                            <input class="input-shadow" type="text" name="empty-name" id="empty-name"><br>
                            <label><b>공터 주소</b></label>
                            <input class="input-shadow" name="empty-addr" id="empty-addr" readonly><br>
                            <label><b>간선하차 시작 시간</b></label>
                            <input class="input-shadow" name="empty-time" id="empty-time" type="time"><br>
                            <div class=" horizontal between">
                                <label></label>
                                <button type="button" class="btn-blue" id="empty-btn">확인</button>
                            </div>
                        </div>
                </div>
                <!-- owner -->
                <div class="small-popup popup" id="popup-owner">
                        <div class="samll-popup-header">
                            <label class=" small-popup-title"><b>새로운 노선 추가</b></label>
                            <img src="/public/images/popup_x_white.svg" class="close">
                        </div>
                        <div class=" small-popup-contents">
                            <select class="input-shadow" id="owner-id">
                            </select><br>
                            <label><b>수거 시작 시간</b></label>
                            <input class="input-shadow" type="time" id="owner-time"><br>
                            <div class=" horizontal between">
                                <label></label>
                                <button class="btn-blue" type="button" id="owner-btn">확인</button>
                            </div>
                        </div>
                </div>
                <!-- select bus -->
                <div class="small-popup popup" id="popup-bus">
                    
                        <div class="samll-popup-header">
                            <label class=" small-popup-title"><b>새로운 노선 추가</b></label>
                            <img src="/public/images/popup_x_white.svg" class="close">
                        </div>
                        <div class=" small-popup-contents">
                            <select name="bus" class="custom-select">
                                <% for(var i=0; i<bus.length; i++) { %>
                                <option value="<%=bus[i].ID%>"><%=bus[i].Name%></option>
                                <% } %>
                            </select>
                            <br>
                            <br>
                            <div class=" horizontal between">
                                <label></label>
                                <button class="btn-blue" id="bus-btn" type="button">확인</button>
                            </div>
                        </div>
                </div>
                <!-- maange part time member -->
                <div id="manage-pt" class="popup big-popup" style="width: 60vw;">
                    <div class="vertical" style="background-color: #f5f5f5">
                        <br>
                        <div class="horizontal between" style="width: 95%;">
                            <div>

                                <label id="route-name" class=" primary">마포-대한통운</label><br>
                                <label id="contract" class=" primary">2020-01-01 ~ 2020-06-01</label>
                            </div>
                            <p class=" primary size-15"><b>원하는 날짜에 물류관리 직원을 드래그하세요.</b></p>
                            <img src="/public/images/popup_x_navy.svg" class="close">
                        </div>
                        <br>
                        <iframe id="schedule-frame" style="width: 100%; height: 62vh; border: none;"></iframe>
                    </div>
                </div>

            </div>
            <br>
            <h5 class=" primary">노선 현황</h5>
            <h1><b class=" size-25 primary">총 <%=routes.length%>개</b></h1>
            <div class="drop-menu" id="drop-name">
                <ul class="drop-list">
                    <li class="drop-item"><a href="?order=asc">노선명 오름차순</a></li>
                    <li class="drop-item"><a href="?order=desc">노선명 내림차순</a></li>
                </ul>
            </div>
            <div class="drop-menu" id="drop-contract">
                <ul class="drop-list">
                    <li class="drop-item"><a href="?current=true">계약 진행</a></li>
                    <li class="drop-item"><a href="?current=false">계약 종료</a></li>
                </ul>
            </div>
            <table id="route-table">
                <thead class="blue" style="margin: 0px;">
                    <th class="remove"></th>
                    <th class="center" style="width: 15 0px;">
                        <div class="sort">
                            <label>노선</label>
                            <img src="/public/images/down.png" class="drop" data-menu="drop-name">
                        </div>
                    </th>
                    <th class="center" colspan="2" style="width: 300px;">
                        <div class="sort"><label>계약 기간</label>
                            <img src="/public/images/down.png" class="drop" data-menu="drop-contract"></div>
                    </th>
                    <th class="blue" colspan="14">경로</th>
                </thead>
                <tbody>
                    <!-- add btn -->
                    <tr style="height: 30px;">
                        <td colspan="14">
                            <br>
                            <div class="vertical" style="cursor: pointer;" id="add-btn">
                                <img src="/public/images/add.svg" class="add-icon">
                                <p class="add-txt"><b>경로 추가</b></p>
                            </div>
                        </td>
                    </tr>
                    <!-- add line -->
                    <tr id="add-tr" class="route-tr">
                        <td class="remove"></td>
                        <td class="mid" style="padding-top: 56px;">

                            <input class="box0" placeholder="name" name="name" id="input-name" hidden>
                            <select id="select-gu" class="bottom-line" style="height: 43px;">
                                <option>구역을 선택하세요</option>
                                <% var gu=["강남구",
                            "강동구",
                            "강북구",
                            "강서구",
                            "관악구",
                            "광진구",
                            "구로구",
                            "금천구",
                            "노원구",
                            "도봉구",
                            "동대문구",
                            "동작구",
                            "마포구",
                            "서대문구",
                            "서초구",
                            "성동구",
                            "성북구",
                            "송파구",
                            "양천구",
                            "영등포구",
                            "용산구",
                            "은평구",
                            "종로구",
                            "중구",   
                            "중랑구"];
                            var values=["강남",
                            "강동",
                            "강북",
                            "강서",
                            "관악",
                            "광진",
                            "구로",
                            "금천",
                            "노원",
                            "도봉",
                            "동대문",
                            "동작",
                            "마포",
                            "서대문",
                            "서초",
                            "성동",
                            "성북",
                            "송파",
                            "양천",
                            "영등포",
                            "용산",
                            "은평",
                            "종로",
                            "중",   
                            "중랑"];
                            for(var i=0; i<gu.length; i++){ %>
                                <option value="<%=values[i]%>" class="gu"><%=gu[i]%></option>
                                <% } %>
                            </select><br><br>
                            <input name="gu" id="gu-input" hidden>
                            <label id="route-show">경로명</label>
                        </td>

                        <td class="mid2" style="width: 400px;">
                            <input type="date" id="contract-start" class="bottom-line" name="contract-start" style="width: 180px;">
                            &nbsp;~&nbsp;
                            <input class="bottom-line" type="date" id="contract-end" name="contract-end" style="width: 180px;">
                        </td>
                        <td class="space">
                        </td>
                        <td colspan="10">
                            <!-- station -->
                            <div id="line-station" class="line line-station">
                                <div class="vertical destination destination-left">
                                    <div class="destination-circle">
                                        <img src="/public/images/edit.png" class="edit" data-cat="0">
                                    </div>
                                    <label class="destination-txt" id="station1">정류장 선택<br>&nbsp;</label>
                                </div>

                                <!-- logistic center -->
                                <div class="line line-logi" id="line-logi">
                                    <div class="vertical destination destination-left">
                                        <div class="destination-circle">
                                            <img src="/public/images/edit.png" class="edit" data-cat="1">
                                        </div>
                                        <label class="destination-txt" id="logi1">물류사 선택<br>&nbsp;</label>
                                    </div>
                                    <!-- owners -->
                                    <div class="line line-owner" id="line-owner">
                                        <!-- 공터 -->
                                        <div class="vertical destination destination-left">
                                            <div class="destination-circle">
                                                <img src="/public/images/edit.png" class="edit" data-cat="2">
                                            </div>
                                            <label class="destination-txt" id="empty">공터 선택<br>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="vertical destination destination-right">
                                        <div class="destination-circle">
                                            <img src="/public/images/edit.png" class="edit" data-cat="1">
                                        </div>
                                        <label class="destination-txt" id="logi2">물류사 선택<br>&nbsp;</label>
                                    </div>
                                </div>

                                <div class="vertical destination destination-right">
                                    <div class="destination-circle">
                                        <img src="/public/images/edit.png" class="edit" data-cat="0">
                                    </div>
                                    <label class="destination-txt" id="station2">정류장 선택<br>&nbsp;</label>
                                </div>

                            </div>
                        </td>
                        <td style="width: 100px;">
                            <div class="horizontal center" style="margin-left: 30px; margin-bottom: -5px;">
                                <img src="/public/images/yes.svg" class="sm-btn" id="next-btn">
                                <img src="/public/images/add_primary.png" class="sm-btn" id="add-owner-btn">
                            </div>
                        </td>
                    </tr>
                    <!-- original data -->
                    <% for(var i=0; i<routes.length; i++) {
                        // formating dates
                        var startDate=new Date(routes[i].ContractStart);
                        var start=startDate.getFullYear()+'-'+(startDate.getMonth()+1)+'-'+startDate.getDate();
                        var endDate=new Date(routes[i].ContractEnd);
                        var end=endDate.getFullYear()+'-'+(endDate.getMonth()+1)+'-'+endDate.getDate();
                        %>
                    <tr class="route-tr">
                        <td class="remove">
                            <img src="/public/images/remove.svg" class="sm-btn remove-btn"
                                data-id="<%=routes[i].RouteID%>" data-name="<%=routes[i].Name%>">
                        </td>
                        <td class="mid" style="width: 150px;"><b><%=routes[i].Name%></b><br><%=routes[i].Bus%></td>
                        <td class="mid" style="width: 300px;"><b><%=start+' ~ '+end%></b><br>
                            <span class="link link-schedule" data-id="<%=routes[i].RouteID%>"
                                data-name="<%=routes[i].Name%>"
                                data-contract="<%=start+' ~ '+end%>"><b>일정상세보기</b></span>
                        </td>
                        <td class="space"></td>
                        <td colspan="10" style="padding-bottom: 40px;">
                            <!-- station -->
                            <div class="line line-station">
                                <div class="vertical destination destination-left">
                                    <div class="destination-circle"></div>
                                    <label
                                        class="destination-txt"><%=routes[i].Loc[0].LocName%><br><%=(routes[i].Loc[0].RcTime).substr(0, 5)%></label>
                                </div>

                                <!-- logistic center -->
                                <div class="line line-logi">
                                    <div class="vertical destination destination-left">
                                        <div class="destination-circle"></div>
                                        <label
                                            class="destination-txt"><%=routes[i].Loc[1].LocName%><br><%=(routes[i].Loc[1].RcTime).substr(0, 5)%></label>
                                    </div>
                                    <!-- owners -->
                                    <div class="line line-owner">
                                        <!-- 공터 -->
                                        <div class="vertical destination destination-left">
                                            <div class="destination-circle"></div>
                                            <label
                                                class="destination-txt"><%=routes[i].Loc[2].LocName%><br><%=(routes[i].Loc[2].RcTime).substr(0, 5)%></label>
                                        </div>
                                        <!-- owners-->
                                        <% for(var j=3; j<routes[i].Loc.length-2; j++) { 
                                            var right='';
                                            if(routes[i].Loc.length-3==j) {
                                                right='destination-right';
                                            }
                                            %>
                                        <div class="vertical destination <%=right%>">
                                            <div class="destination-circle"></div>
                                            <label
                                                class="destination-txt"><%=routes[i].Loc[j].LocName%><br><%=(routes[i].Loc[j].RcTime).substr(0, 5)%></label>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="vertical destination destination-right">
                                        <div class="destination-circle"></div>
                                        <label
                                            class="destination-txt"><%=routes[i].Loc[routes[i].Loc.length-2].LocName%><br><%=(routes[i].Loc[routes[i].Loc.length-2].RcTime).substr(0, 5)%></label>
                                    </div>
                                </div>

                                <div class="vertical destination destination-right">
                                    <div class="destination-circle"></div>
                                    <label
                                        class="destination-txt"><%=routes[i].Loc[routes[i].Loc.length-1].LocName%><br><%=(routes[i].Loc[routes[i].Loc.length-1].RcTime).substr(0, 5)%></label>
                                </div>
                            </div>
                        </td>
                        <td style="width: 100px;">
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <br>
        </form>
    </section>
</body>

</html>