<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>노선 관리</title>
    <script>
        $(function () {
            setLine();
            setCircleSize();
            searchDriver();
            $('.preview').hide();
            unlock();
            editRoute();
            $('#modal').hide();
        });

        function setLine() {
            for (var i = 0; i < $('.route').length; i++) {
                const cnt = $('.route').eq(i).children('.line').length;
                const lines = 100 / cnt;
                $('.route').eq(i).children('.line').css('width', lines + '%');
            }
        }

        function setCircleSize() {
            for (var i = 0; i < $('.route-circle').length; i++) {
                const width = $('.route-circle').eq(i).width();
                $('.route-circle').eq(i).css('height', width);
                $('.route-circle').eq(i).css('margin-bottom', -(width / 2) + 1.5);
            }
        }

        function searchDriver(key) {
            $('.search-driver').keydown(function(key){
                if($(this).val()!='') {
                    $(this).parent().parent().children('.preview').show(200);

                } else {
                    $(this).parent().parent().children('.preview').hide(200);
                }
            })
        }

        function getDriver(drvier, div) {
              //login by ajax async
                $.ajax({
                url: "/Bus/Get/Drivers",
                type: "post",
                data: {
                  input: drvier
                },
                dataType: "json",
                success: function(data) {
                    //login success
                    if(data.userName) {
                        div.remove('tr');
                    } else {
                        
                    }
                },
                error: function(err) {
                }
            }); 
        }

        function unlock() {
            $('.lock').click(function() {
                const input=$(this).parent().children('.input-search');
                input.removeAttr("readonly");
                input.focus();
                $(this).attr('src', '/public/images/search.png');
            })
        }

        function editRoute() {
            $('.link').click(function() {
                const id=$(this).data('id');
                const name=$(this).data('name');
                const contract=$(this).data('contract');
                
                $('#schedule-frame').attr('src', `/Bus/Manage/Route/Schedule?routeID=${id}`);
                $('#route-name').text(name);
                $('#contract').text(contract);
                $('#modal').fadeIn(300);
            });

            $('#close-btn').click(function(){
                if(confirm('기사 및 차량 배치를 종료하시겠습니까?')) {
                    $('#modal').fadeOut(400);
                }
            })
        }
    </script>
</head>

<body>
    <%- include('nav') %>
    <div id="modal">
        <div class="vertical" style="background-color: white;">
            <br>
        <div class="horizontal between" style="width: 95%;">
            <div>
                <label id="route-name">마포-대한통운</label><br>
                <label id="contract">2020-01-01 ~ 2020-06-01</label>
            </div>
            <h3>원하는 날짜에 기사 및 차량을 드래그하세요.</h3>
            <img src="/public/images/remove.png" id="close-btn">
        </div>
        <br>
        <iframe id="schedule-frame"  style="width: 80vw; height: 80vh; border: none;"></iframe>
    </div>
    </div>
    <div class="container-main">
        <table id="manage-route">
            <thead>
                <tr>
                    <th class="head">노선명</th>
                    <th class="head">일정</th>
                    <th class="head" colspan="11">경로</th>
                </tr>
            <tbody>
                <% for(var i=0; i<routes.length; i++) {
                    // formating dates
                    var startDate=new Date(routes[i].ContractStart);
                    var start=startDate.getFullYear()+'-'+startDate.getMonth()+1+'-'+startDate.getDate();
                    var endDate=new Date(routes[i].ContractEnd);
                    var end=endDate.getFullYear()+'-'+endDate.getMonth()+1+'-'+endDate.getDate();
                    %>
                    <tr style="height: 20px;"></tr>
                    <tr class="route-tr">
                    <td class="mid"><b><%=routes[i].Name%></b><br><%=routes[i].Bus%></td>
                    <td class="mid2"><%=start+' ~ '+end%><br><span class="link" data-id="<%=routes[i].RouteID%>" data-name="<%=routes[i].Name%>" data-contract="<%=start+' ~ '+end%>"><b>일정 상세보기</b></span></td>
                    <td class="space"></td>
                    <td colspan="10">
                        <!-- station -->
                        <div class="line line-station">
                            <div class="vertical destination destination-left">
                                <div class="destination-circle"></div>
                                <label class="destination-txt" ><%=routes[i].Loc[0].LocName%><br><%=(routes[i].Loc[0].RcTime).substr(0, 5)%></label>
                            </div>

                            <!-- logistic center -->
                            <div class="line line-logi" >
                                <div class="vertical destination destination-left">
                                    <div class="destination-circle"></div>
                                    <label class="destination-txt" ><%=routes[i].Loc[1].LocName%><br><%=(routes[i].Loc[1].RcTime).substr(0, 5)%></label>
                                </div>
                                <!-- owners -->
                                <div class="line line-owner">
                                    <!-- 공터 -->
                                    <div class="vertical destination destination-left">
                                        <div class="destination-circle"></div>
                                        <label class="destination-txt" ><%=routes[i].Loc[2].LocName%><br><%=(routes[i].Loc[2].RcTime).substr(0, 5)%></label>
                                    </div>
                                    <!-- owners-->
                                    <% for(var j=3; j<routes[i].Loc.length-2; j++) { 
                                        var right='';
                                        if(routes[i].Loc.length-3==j) {
                                            right='destination-right';
                                        }
                                        %>
                                        <div class="vertical destination <%=right%>">
                                        <div class="destination-circle"></div>
                                        <label class="destination-txt" ><%=routes[i].Loc[j].LocName%><br><%=(routes[i].Loc[j].RcTime).substr(0, 5)%></label>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="vertical destination destination-right">
                                    <div class="destination-circle"></div>
                                    <label class="destination-txt" ><%=routes[i].Loc[routes[i].Loc.length-2].LocName%><br><%=(routes[i].Loc[routes[i].Loc.length-2].RcTime).substr(0, 5)%></label>
                                </div>
                            </div>

                            <div class="vertical destination destination-right">
                                <div class="destination-circle"></div>
                                <label class="destination-txt" ><%=routes[i].Loc[routes[i].Loc.length-1].LocName%><br><%=(routes[i].Loc[routes[i].Loc.length-1].RcTime).substr(0, 5)%></label>
                            </div>
                        </div>
                        </td>
                        <td style="width: 100px;">
                    </td>
                </tr>
                <% } %>    
            </tbody>
            </thead>
        </table>
    </div>
</body>

</html>