<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>차량 관리</title>
    <script>
        $(function () {
            $('#add-tr').hide();
            $('#modal').hide();
            $('#add-btn').click(function () {
                $('#add-tr').toggle(500);
            });
            $('#yes').click(function () {
                if ($('#car-num').val()) {
                    createBus();
                } else {
                    alert('차량 번호를 입력하세요.');
                }
            });
            $('#no').click(function () {
                $('#car-num').val('');
                $('#add-tr').hide(500);
            });

            $('.remove-btn').click(function () {
                const id = $(this).data('id');
                if (confirm('차량을 삭제하시겠습니까?')) {
                    removeBus(id);
                }
            });


            $('.remove-driver-btn').click(function () {
                const name = $(this).data('name');
                const id = $(this).data('id');
                if (confirm(name + ' 기사를 제거하시겠습니까?')) {
                    $.post("/Bus/Manage/Remove/Driver", { id: id }, function (data) {
                        if (data.Result) {
                            alert('기사가 제거되었습니다.');
                            location.reload();
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
            $('#add-driver-btn').click(function () {
                location.href = '/Bus/Manage/Create/Driver';
            });

            $('#close-btn').click(function(){
                $('#modal').fadeOut(300);
            });

            setLink();
        });

        function createBus() {
            $.ajax({
                url: "/Bus/Manage/Create/Bus",
                type: "post",
                data: {
                    num: $('#car-num').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.Result) {
                        alert('차량이 등록되었습니다');
                        location.reload();
                    } else {
                        alert('오류가 발생하였습니다');
                    }
                },
                error: function (err) {
                }
            });
        }

        function removeBus(id) {
            $.ajax({
                url: "/Bus/Manage/Remove/Bus",
                type: "post",
                data: {
                    id: id
                },
                dataType: "json",
                success: function (data) {
                    if (data.Result) {
                        alert('차량이 삭제되었습니다.');
                        location.reload();
                    } else {
                        alert('오류가 발생하였습니다.');
                    }
                },
                error: function (err) {
                }
            });
        }

        function setLink() {
            $('.link').click(function(){
                const cat=$(this).data('cat');
                const id=$(this).data('id');
                if(cat=='bus') {
                    $('#iframe').attr('src', '/Bus/View/Schedule?bus='+id);
                    $('#modal').fadeIn(300);
                } else if(cat=='driver') {
                    $('#iframe').attr('src', '/Bus/View/Schedule?driver='+id);
                    $('#modal').fadeIn(300);
                }
            });
        }
    </script>
</head>

<body>
    <div id="modal">
        <div class="card">
            <div class="card-body">
                <div class="horizontal between">
                    <label></label>
                    <img src="/public/images/x_icon.png" id="close-btn" style="cursor: pointer;">
                </div>
                <br>
                <iframe id="iframe" src="/Bus/View/Schedule" style="width: 60vw; height: 85vh; border: none;">
                </iframe>
            </div>
        </div>
    </div>
    <%- include('nav') %>
    <section class="container-main">
        <br><br>
        <div class="horizontal between" style="width: 96%; align-items: baseline;">
            <!-- bus list -->
            <div class="card" style="width: 48.5%; height: 100%;">
                <div class="card-body">
                    <div class="horizontal between">
                        <div>
                            <label>차량 현황</label>
                            <div class="horizontal">
                                <h3>총 <%=busList.length%>대</h3>
                            </div>
                        </div>
                        <div class="box0 horizontal" style="width: 250px;">
                            <input style="width: 100%; border: none;" placeholder="차량 번호를 검색하세요">
                            <img src="/public/images/search.png" id="search-btn">
                        </div>
                    </div>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th style="width: 50px;"></th>
                                <th class="head">
                                    <div class="th-down">
                                        <label>차량</label>
                                        <img src="/public/images/down.png" class="drop-down">
                                    </div>
                                </th>
                                <th class="head">
                                    <div class="th-down">
                                        <label>일정</label>
                                        <img src="/public/images/down.png" class="drop-down">
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- add btn -->
                            <tr>
                                <td colspan="4">
                                    <div style="width: 100%; text-align: center;">
                                        <div style="cursor: pointer;" id="add-btn">
                                            <br>
                                            <img src="/public/images/add.png" class="add-icon">
                                            <p class="size-13 add-txt"><b>차량 추가</b></p>
                                        </div>
                                </td>
                            </tr>
                            <!-- add form -->
                            <tr id="add-tr" style="height: 80px;">
                                <td><label></label></td>
                                <td><input style="width: 180px;" class="box0" placeholder="차량번호를 입력해주세요" id="car-num">
                                </td>
                                <td><span class="link">일정</span></td>
                                <td style="width: 100px;">
                                    <div class="horizontal">
                                        <img src="/public/images/yes.png" class="check_icon" id="yes">
                                        <img src="/public/images/no.png" class="check_icon" id="no">
                                    </div>
                                </td>
                            </tr>

                            <!-- real data -->
                            <% for(var i=0; i<busList.length; i++) { %>
                            <tr>
                                <td style="width: 50px;"><img src="/public/images/remove.png"
                                        class="check_icon remove-btn" data-id="<%=busList[i].ID%>"></td>
                                <td style="width: 200px;">
                                    <p><b><%=busList[i].Num%></b></p>
                                </td>
                                <td><span class="link" data-id="<%=busList[i].ID%>" data-cat="bus">일정 상세보기</span></td>
                                <td></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- driver list -->
            <div class="card" style="width: 48.5%; height: 100%;">
                <div class="card-body">
                    <div class="horizontal between">
                        <div>
                            <label>기사 현황</label>
                            <div class="horizontal">
                                <h3>총 <%=driverList.length%>명</h3>
                            </div>
                        </div>
                        <div class="box0 horizontal" style="width: 250px;">
                            <input style="width: 100%; border: none;" placeholder="기사 이름을 검색하세요" id="search_input">
                            <img src="/public/images/search.png" id="search-btn">
                        </div>
                    </div>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="head">
                                    <div class="th-down">
                                        <label>이름</label>
                                        <img src="/public/images/down.png" class="drop-down">
                                    </div>
                                </th>
                                <th class="head">
                                    <div class="th-down">
                                        <label>연락처</label>
                                        <img src="/public/images/down.png" class="drop-down">
                                    </div>
                                </th>
                                <th class="head">
                                    <div class="th-down">
                                        <label>일정</label>
                                        <img src="/public/images/down.png" class="drop-down">
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr>
                                <td colspan="4">
                                    <div style="width: 100%; text-align: center;">
                                        <div style="cursor: pointer;" id="add-driver-btn">
                                            <br>
                                            <img src="/public/images/add.png" class="add-icon">
                                            <p class="size-13 add-txt"><b>기사 추가</b></p>
                                        </div>
                                </td>
                            </tr>
                            <% for(var i=-0; i<driverList.length; i++) { %>
                            <tr data-name="<%=driverList[i].Name%>" class="driver-tr">
                                <td><img src="/public/images/remove.png" class="check_icon remove-driver-btn"
                                        data-name="<%=driverList[i].Name%>" data-id="<%=driverList[i].ID%>"></td>
                                <td style="width: 220px;">
                                    <div class="horizontal"
                                        style="align-items: flex-start; margin-top: 10px; text-align: left;">
                                        <img src="/<%=driverList[i].ProfilePath%>" class="table-img">
                                        <div style="margin-left: 10px; margin-top: 5px;">
                                            <p><b><%=driverList[i].Name%></b></p>
                                            <p class="size-10" style="margin-top: -20px;"><%=driverList[i].ID%></p>
                                        </div>
                                    </div>
                                </td>
                                <td><b><%=driverList[i].Phone%></b></td>
                                <td>
                                    <span class="link" data-id="<%=driverList[i].ID%>" data-cat="driver">일정 상세보기</span>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>