<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <script src="/public/js/fullcalendar/core.js"></script>
    <script src="/public/js/fullcalendar/timegrid.js"></script>
    <script src="/public/js/fullcalendar/daygrid.js"></script>
    <script src="/public/js/fullcalendar/interaction.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/core.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/timegrid.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/daygrid.css" />
    <script>
        var calendar;
        $(function() {
            addEvent();
        });
        document.addEventListener('DOMContentLoaded', function () {
            var Calendar = FullCalendar.Calendar;

            var calendarEl = document.getElementById('calendar');

            // initialize the calendar
            // -----------------------------------------------------------------

            calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar
                locale: 'ko',
                eventLimit: true, // for all non-TimeGrid views
                views: {
                    month: {
                        eventLimit: 2 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                }
            });

            calendar.render();
        });
        function addEvent() {
            if('<%=cat%>'=='bus'){
                <% for(var i=0; i<event.length; i++) { %>
                    var date=new Date('<%=event[i].RunDate%>');
                    var dateStr=date.getFullYear()+'-';
                    if(date.getMonth()<=9) {
                        dateStr+='0';
                    }
                    dateStr+=(date.getMonth()+1)+'-';
                    if(date.getDate()<=9) {
                        dateStr+='0';
                    }
                    dateStr+=date.getDate();
                    addRoute('<%=event[i].RouteName%>', dateStr);
                    <% if(event[i].DriverID) { %>
                        addDriver('<%=event[i].DriverName%>', dateStr);
                    <% }%>
                <% } %>
            } else if('<%=cat%>'=='driver') {
                <% for(var i=0; i<event.length; i++) { %>
                    var date=new Date('<%=event[i].RunDate%>');
                    var dateStr=date.getFullYear()+'-';
                    if(date.getMonth()<=9) {
                        dateStr+='0';
                    }
                    dateStr+=(date.getMonth()+1)+'-';
                    if(date.getDate()<=9) {
                        dateStr+='0';
                    }
                    dateStr+=date.getDate();
                    addRoute('<%=event[i].RouteName%>', dateStr);
                    <% if(event[i].BusID) { %>
                        addBus('<%=event[i].Num%>', dateStr);
                    <% }%>
                <% } %>
            } else  if('<%=cat%>'=='part') {
                <% for(var i=0; i<event.length; i++) { %>
                    var date=new Date('<%=event[i].RunDate%>');
                    var dateStr=date.getFullYear()+'-';
                    if(date.getMonth()<=9) {
                        dateStr+='0';
                    }
                    dateStr+=(date.getMonth()+1)+'-';
                    if(date.getDate()<=9) {
                        dateStr+='0';
                    }
                    dateStr+=date.getDate();
                    addRoute('<%=event[i].RouteName%>', dateStr);
                <% } %>
            }
        }
        
        // add each driver
        function addDriver(name, date) {
            console.log('add driver: '+name+' date: '+date);
            calendar.addEvent({
                title: name,
                start: date,
                allDay: true,
                color: '#2A94D9',
                textColor: '#ffffff',
            });
        }

        function addBus(num, date) {
            console.log('add bus: '+num+' date: '+date);
            calendar.addEvent({
                title: num,
                start: date,
                allDay: true,
                color: '#2A94D9',
                textColor: '#ffffff',
            });
        }

        function addRoute(name, date){
            console.log('add route: '+name+' date: '+date);
            calendar.addEvent({
                title: name,
                start: date,
                allDay: true,
                color: '#436CF4',
                textColor: '#ffffff',
            });
        }
    </script>
</head>

<body style="background-color: rgba(0, 0, 0, 0);">

    <div id="calendar"></div>

</body>

</html>