<!DOCTYPE html>
<html>

<head>
    <title>물량관리</title>
    <%- include('config')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/loading-bar.min.css" />
    <script type="text/javascript" src="/public/js/loading-bar.min.js"></script>
    <script>
        $(function () {
            $('#select-date').change(function () {
                const date = $(this).val();
                const cat = $('#select-cat').val();
                location.href = `?Date=${date}&cat=${cat}`;
            });

            $('.close').click(function () {
                $('#modal').fadeOut(300);
                $('complete-dialog').hide();
            });

            $('#modal').hide();
            $('#popup-position').hide();
            $('#progress-dialog').hide();
            $('#complete-dialog').hide();
            $('#upload-btn').click(function () {
                $('#input-file').trigger('click');
            });

            $('#cancel-btn').click(function () {
                if (confirm('취소하시겠습니까?')) {
                    $('#popup-position').hide();
                    $('#modal').fadeOut(300);
                }
            });

            $('#confirm-btn').click(function () {
                if (confirm('물량을 등록하시겠습니까?')) {
                    //$('#item-form').submit();
                    const idInput = $(`input[name='id']`);
                    const nameInput = $(`input[name='name']`);
                    const addrInput = $(`input[name='addr']`);
                    const desNameInput = $(`input[name='des_name']`);
                    const desPhoneInput = $(`input[name='des_phone']`);
                    const ids = [], names = [], addr = [], desNames = [], desPhones = [];
                    for (var i = 0; i < idInput.length; i++) {
                        ids.push($(idInput[i]).val());
                        names.push($(nameInput[i]).val());
                        addr.push($(addrInput[i]).val());
                        desNames.push($(desNameInput[i]).val());
                        desPhones.push($(desPhoneInput[i]).val());
                    }
                    const data = {
                        id: ids,
                        name: names,
                        addr: addr,
                        des_name: desNames,
                        des_phone: desPhones,
                        date: '<%=current%>'
                    }
                    startProgress(ids.length);
                    $('#popup-position').fadeOut(300);
                    $(window).on("beforeunload", function () {
                        return "페이지를 나가도 변경사항은 적용됩니다.";
                    });

                    $.ajax({
                        url: '/Logistics/ajax/ItemList',
                        type: "post",
                        data: data,
                        dataType: "json",
                        timeout: 1000000,
                        success: function (data) {
                            //console.log(data);
                            if (data.Result) {
                                $('#progress-dialog').fadeOut(200);
                                $('#complete-dialog').fadeIn(200);
                                setTimeout(() => {
                                    location.reload();
                                }, 1000)
                            }
                        },
                        error: function (err) {
                            alert('오류가 발생하였습니다');
                            console.log(err);
                        }
                    });
                }
            });
            $('#download-btn').click(function () {
                getExcel();
            });

            setItemCnt();
            setSelectCat();
        });

        function excelExport(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var fileData = reader.result;
                var wb = XLSX.read(fileData, { type: 'binary' });
                wb.SheetNames.forEach(function (sheetName) {
                    var row = XLSX.utils.sheet_to_json(wb.Sheets[sheetName]);
                    var html = '';
                    $('#cnt').text('총 ' + row.length + '개');
                    for (var i = 0; i < row.length; i++) {
                        html += `<tr>
                            <td><input hidden name='id' value='${row[i].송장번호}'>${row[i].송장번호}</td>
                            <td><input hidden name='name' value='${row[i].품목명}'>${row[i].품목명}</td>
                            <td><input hidden name='addr' value='${row[i].도착지}'>${row[i].도착지}</td>
                            <td><input hidden name='des_name' value='${row[i].이름}'>${row[i].이름}</td>
                            <td><input hidden name='des_phone' value='${row[i].전화번호}'>${row[i].전화번호}</td>
                            </tr>`
                    }
                    $('#item-body').html(html);
                    $('#popup-position').show();
                    $('#modal').fadeIn(300);
                })
            };
            reader.readAsBinaryString(input.files[0]);
        }

        function startProgress(cnt) {
            $('#modal').show();
            $('#progress-dialog').fadeIn(300);
            var bar1 = new ldBar("#progress");
            var bar2 = document.getElementById('progress').ldBar;
            var index = 0;
            var interval = setInterval(() => {
                var current = (index / cnt) * 100;
                bar1.set(current);
                //console.log(current);
                index++;
                if ((index / cnt) * 100 >= 99) {
                    clearInterval(interval);
                }
            }, 700);
        }

        function getExcel() {
            var wb = XLSX.utils.book_new();
            // step 2. 시트 만들기 
            //var newWorksheet = excelHandler.getWorksheet();
            // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
            var items = [];
            var names = [];
            
            <% for (var i = 0; i < items.length; i++) {
                if (i == 0 || (i != 0 && items[i].ListID != items[i - 1].ListID)) { %>
                    items.push([['송장번호', '품목명', '이름', '전화번호', '도착지']]);
                    var num = 1;
                    for (var j = 0; j < names.length; j++) {
                        if (names[j].indexOf('<%=items[i].DesAddr%>'.split(' ')[1]) != -1) {
                            num++;
                        }
                    }
                    names.push('<%=items[i].DesAddr%>'.split(' ')[1] + num);
                    
                <% } %>
                    items[items.length - 1].push([
                        '<%=items[i].ItemID%>',
                        '<%=items[i].ItemName%>',
                        '<%=items[i].DesName%>',
                        '<%=items[i].DesPhone%>',
                        '<%=items[i].DesAddr%>'
                    ]);
            <% } %>
            
            for (var i = 0; i < items.length; i++) {
                XLSX.utils.book_append_sheet(wb, XLSX.utils.aoa_to_sheet(items[i]), names[i]);
            }
            // step 4. 엑셀 파일 만들기 
            var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
            // step 5. 엑셀 파일 내보내기 
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), '물량 전표<%=current%>.xlsx');
        }

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
            var view = new Uint8Array(buf);  //create uint8array as viewer
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
            return buf;
        }

        function setItemCnt() {
            var cnts = $('.cnt');
            const gus = $('.gu-cnt');
            const guArr = [];
            for (var i = 0; i < gus.length; i++) {
                guArr.push({
                    gu: $(gus[i]).data('gu'),
                    cnt: 0
                });
            }
            for (var i = 0; i < guArr.length; i++) {
                for (var j = 0; j < cnts.length; j++) {
                    if (guArr[i].gu == $(cnts[j]).data('gu')) {
                        guArr[i].cnt += $(cnts[j]).data('cnt');
                    }
                }
            }
            for (var i = 0; i < guArr.length; i++) {
                for (var j = 0; j < gus.length; j++) {
                    if (guArr[i].gu == $(gus[j]).data('gu')) {
                        $(gus[j]).text(guArr[i].cnt);
                    }
                }
            }
        }

        function setSelectCat() {
            $('#select-cat').val('<%=cat%>');
            $('#select-cat').change(function () {
                const cat = $(this).val();
                const date = $('#select-date').val();
                location.href = `?Date=${date}&cat=${cat}`;
            });
        }
    </script>
</head>

<body>
    <div id="modal">
        <!-- item list -->
        <div style="width: 80vw; background-color: #EFEFEF; height: 80vh; overflow-x: auto;" id="popup-position">
            <div class="horizontal between">
                <div class="single-tab horizontal">
                    <p>상품 목록</p>
                    <div style="width: 20px;"></div>
                    <p id="cnt"></p>
                </div>
                <div class="horizontal">
                    <button class=" btn-main" style="margin-right: 20px;" id="cancel-btn">취소</button>
                    <button class=" btn-blue" style="margin-right:20px;" id="confirm-btn">확인</button>
                </div>

            </div>
            <div>
                <form method="POST" action="/Logistics/ItemList" id="item-form">
                    <table class="table" style="background-color: white; padding-left: 20px; padding-right: 20px;">
                        <thead>
                            <th class="head">송장번호</th>
                            <th class="head">품목명</th>
                            <th class="head">도착지</th>
                            <th class="head">이름</th>
                            <th class="head">전화번호</th>
                        </thead>
                        <tbody id="item-body" style="height: 80vh; overflow-x: auto;">

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <!-- progress -->
        <div class="popup-process" style="width: 300px; height: 300px; background-color: #EFF1F6; display: flex;
        flex-direction:column; align-items: center; justify-content: center;" id="progress-dialog">
            <div id="progress" class="ldBar label-center" data-value="35" data-preset="circle"></div>
            <br>
            <label><b>분류중입니다.</b></label>
        </div>
        <!-- progress complete -->
        <div class="popup-process" style="width: 300px; height: 300px; background-color: #EFF1F6; display: flex;
        flex-direction:column; align-items: center; justify-content: center;" id="complete-dialog">
            <div class=" horizontal between">
                <label></label>
                <img src="/public/images/x_icon.png" class="close" />
            </div>
            <br>
            <label><b>분류가 완료되었습니다.</b></label>
        </div>
    </div>
    <%- include('nav') %>
    <section class=" container-main">
        <div class="full-contents">
            <div class="horizontal between">
                <div>
                    <label>물량 현황</label>
                    <h3 id="total-cnt">배송 </h3>
                </div>
                <div class="horizontal">
                    <!-- select date -->
                    <select class="box0" id="select-date">
                        <% var d=new Date(); 
                                    var length=d.getDate()+1;
                                    var month=d.getMonth()+1;
                                    if(month<10) {
                                        month='0'+month;
                                    }
                                    var year=d.getFullYear();
                                %>
                        <% for(var i=1; i<length; i++) { %>
                        <% var dd;%>
                        <% if(i<10) {
                                        dd='0'+i;
                                } else {
                                    dd=i;
                                } 
                                var str=year+'-'+month+'-'+dd;
                                var selected=''
                                if(str==current) {
                                    selected='selected';
                                }
                            %>
                        <option value="<%=str%>" <%=selected%>><%=str%></option>
                        <% } %>
                    </select>
                    <div style="width: 20px;"></div>
                    <!-- 배송 / 수거 선택 -->
                    <select class="box0" id="select-cat">
                        <option value="delivery">배송</option>
                        <option value="take">수거</option>
                    </select>
                </div>
            </div>
            <div class=" horizontal between">
                <input type="file" hidden id="input-file" onchange="excelExport(event)">
                <label></label>
                <% if(items.length==0) { %>
                <button class=" btn-blue" id="upload-btn">물량 업로드</button>
                <% }else {%>
                <div class="horizontal">
                    <button class=" btn-blue" id="upload-btn">물량 재업로드</button>
                    <div style="width: 20px;"></div>
                    <button class=" btn-blue" id="download-btn">물량 다운로드</button>
                </div>
                <% } %>

            </div>

            <% if(cat=='delivery') {%>
            <table style="width: 100%; margin-top: 30px;">
                <thead>
                    <th class="head">노선명</th>
                    <th class="head">기사</th>
                    <th class="head">차량</th>
                    <th class="head">상태</th>
                    <th class="head">물량</th>
                </thead>
                <tbody>
                    <% for(var i=0; i<route.length; i++) {     %>
                    <% if(i==0 ||(i!=0&&route[i].Gu!=route[i-1].Gu)) { %>
                    <tr>
                        <td colspan="4"><%=route[i].Gu%></td>
                        <td class="gu-cnt" data-gu="<%=route[i].Gu%>"></td>
                    </tr>
                    <% } %>
                    <!-- logi title -->
                    <tr data-logi="<%=route[i].Logi%>" style="height: 50px; vertical-align: middle;">
                        <td>
                            <div class="horizontal">
                                <div class="item-divider"></div>
                                <label><%=route[i].Name%></label>
                            </div>
                        </td>
                        <% var driver='기사 미배정';
                        if(route[i].DriverName) {
                            driver=route[i].DriverName+' 기사';
                        }
                        var bus='차량 미배정';
                        if(route[i].BusNum) {
                            bus=route[i].BusNum;
                        }
                        %>
                        <td><%=driver%></td>
                        <td><%=bus%></td>
                        <% var status;
                                    if(route[i].ItemCnt)
                                        status='마감 완료';
                                    else
                                        status='상품 미배정'; %>
                        <td><%=status%></td>
                        <td class="cnt" data-gu="<%=route[i].Gu%>" data-cnt="<%=route[i].ItemCnt%>">
                            <%=route[i].ItemCnt%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
                <table style="width: 100%; margin-top: 30px;">
                    <thead>
                    <th class="head">노선</th>
                    <th class="head">기사</th>
                    <th class="head">차량</th>
                    <th class="head">상태</th>
                    <th class="head">물량</th>
                    <th class="head">화주</th>
                </thead>
                <tbody>
                    <% for(var i=0; i<take.length; i++) { %>
                    <tr>
                        <td><%=take[i].Name%></td>
                        <td><%=take[i].DriverName?take[i].DriverName:'기사 미배정'%></td>
                        <td><%=take[i].Num?take[i].Num:'차량 미배정'%></td>
                        <td><%=take[i].ItemCnt?'마감 완료':'미입력'%></td>
                        <td><%=take[i].ItemCnt?take[i].ItemCnt.toLocaleString():0%></td>
                        <td><%=take[i].Owners%></td>
                    </tr>
                    <% } %>
                </tbody>
                </table>
            <% } %>
        </div>
    </section>
</body>

</html>