<!DOCTYPE html>
<html>

<head>
    <%- include('config')%>
    <script src="/public/js/fullcalendar/core.js"></script>
    <script src="/public/js/fullcalendar/timegrid.js"></script>
    <script src="/public/js/fullcalendar/daygrid.js"></script>
    <script src="/public/js/fullcalendar/interaction.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/core.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/timegrid.css" />
    <link rel="stylesheet" href="/public/stylesheets/fullcalendar/daygrid.css" />
    <script>
        $(function () {
            getEvents();
            setContract();
            setClose();
        });
        document.addEventListener('DOMContentLoaded', function () {
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');

            calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                editable: true,
                droppable: false, // this allows things to be dropped onto the calendar
                locale: 'ko',
                eventClick: function (info) {
                    info.event.remove();
                    addRemove(info.event.start);
                },
                dateClick: function (info) {
                    addEvent(info.dateStr);
                    addNew(info.dateStr);
                },
                eventRender: function (event) {
                    //$(event.el).css("width", "20px");
                }
            });

            calendar.render();
        });

        function getEvents() {
            <% for(var i=0; i<timeline.length; i++) { 
                var date=new Date(timeline[i].RunDate); 
                var DriverName=timeline[i].DriverName;
                var Num=timeline[i].Num;
                var PtName=timeline[i].PtName;
                var PtId=timeline[i].PTID;
                var dateStr=date.getFullYear()+'-';
                if(date.getMonth()<9) {
                    dateStr+='0';
                }
                dateStr+=(date.getMonth()+1)+'-';
                if(date.getDate()<10) {
                    dateStr+='0';
                }
                dateStr+=date.getDate();
                if(DriverName) { %>
                    addDriver('<%=DriverName%>', '<%=dateStr%>');
                <% } %>
                <% if(Num) { %>
                    addBus('<%=Num%>', '<%=dateStr%>');
                <% } %>
                <% if(PtName) { %>
                    addPartTime('<%=PtName%>', '<%=dateStr%>', '<%=PtId%>');
                <% } %>
                <% } %>
        }

           // add each driver
           function addDriver(name, date) {
            calendar.addEvent({
                title: name,
                start: date,
                allDay: true,
                color: '#ffcc00',
                textColor: '#ffffff',
                editable: false,
            });
        }

        function addBus(num, date) {
            calendar.addEvent({
                title: num,
                start: date,
                allDay: true,
                color: '#011D46',
                textColor: '#ffffff',
                editable: false,
            });
        }

        function addPartTime(name, date, id) {
            calendar.addEvent({
                title: name,
                start: date,
                allDay: true,
                color: '#46C3CF',
                textColor: '#ffffff',
            });
        }

        function addEvent(date) {
            calendar.addEvent({
                start: date,
                allDay: true,
            });
            
        }

        function getDate(date) {
            var d=new Date(date);
            var dateStr=d.getFullYear()+'-';
            if(d.getMonth()<9) {
                dateStr+='0';
            }
            dateStr+=(d.getMonth()+1)+'-';
            if(d.getDate()<10) {
                dateStr+='0';
            }
            dateStr+=d.getDate();
            return dateStr;
        }

        function setContract() {
            var start=getDate('<%=timeline[0].ContractStart%>');
            var end=getDate('<%=timeline[0].ContractEnd%>');
            $('#contract').text(start+' ~ '+end);
        }

        function setClose() {
            $('#confirm-btn').click(function() {
                parent.closeModal();
            });
        }
    </script>
</head>

<body style="padding-right: 20px; padding-left: 20px;">
    <br>
    <div class=" horizontal between">
        <label></label>
        <img src="/public/images/x_icon.png" id="confirm-btn" class="close">
    </div>
    <br>
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
</body>

</html>