<!DOCTYPE html>
<html>
    <head>
        <%- include('config')%>
        <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d8a439d20cdda219547d464d94644cf"></script>
        <script>
            var map;
            $(function () {
                setMainHeight();
                initMap();
    
                initTab();
                initTable();
                initMapLocation();
                <%for (var i = 0; i < timeline.length; i++) {
                    for (var j = 0; j < timeline[i].Loc.length; j++) {%>
                        addMarker(<%=timeline[i].Loc[j].Lat %>, <%=timeline[i].Loc[j].Lng %>, '<%=timeline[i].Loc[j].LocName%>', <%=timeline[i].Loc[j].LocCat %>);
                    <% }
                }%>
            });
    
            function initMap() {
                var mapContainer = document.getElementById('map');
                var mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 9 // 지도의 확대 레벨
                };
                // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    
                map = new kakao.maps.Map(mapContainer, mapOption);
                // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
            }
    
            function setMainHeight() {
                var height = $(window).height();
                height -= 46;
                $('.conatiner').css('height', height);
            }
    
            function initTab() {
                // tab click
                $('.tab-item').click(function () {
                    // change tab show
                    $('.tab-active').removeClass('tab-active');
                    $(this).addClass('tab-active');
    
                    const filter = $(this).attr('data-filter');
                    //hide all
                    $('.tr').fadeOut(200);
                    if (filter != -1)  //not all
                        $(`.tr[data-filter=${filter}]`).fadeIn(200);
                    else //all
                        $('.tr').fadeIn(200);
                });
            }
    
            function initTable() {
                $('.tr').click(function () {
                    const lat = $(this).attr('data-lat');
                    const lng = $(this).attr('data-lng');
    
                    if (lat && lng) {
                        var moveLatLon = new kakao.maps.LatLng(lat, lng);
                        map.setCenter(moveLatLon);
                        map.setLevel(5);
                    }
                });
    
                const tr = $('.tr');
                for (var i = 0; i < tr.length; i++) {
                    const lat = $(tr[i]).attr('data-lat');
                    const lng = $(tr[i]).attr('data-lng');
                    const title = $(tr[i]).attr('data-num');
    
                    if (lat && lng) {
                        var imageSrc = '/public/images/bus_marker.png', // 마커이미지의 주소입니다    
                            imageSize = new kakao.maps.Size(50, 50),
                            imageOption = { offset: new kakao.maps.Point(27, 69) };
    
                        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                            markerPosition = new kakao.maps.LatLng(37.54699, 127.09598);
                        var markerPosition = new kakao.maps.LatLng(lat, lng);
                        var marker = new kakao.maps.Marker({
                            position: markerPosition,
                            image: markerImage,
                            title: title
                        });
                        marker.setMap(map);
                    }
                }
            }
    
            // create each location marker
            function addMarker(lat, lng, name, cat) {
                var imageSrc = '/public/images/bus_marker.png', // 마커이미지의 주소입니다    
                    imageSize = new kakao.maps.Size(50, 50),
                    imageOption = { offset: new kakao.maps.Point(27, 69) };
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                    markerPosition = new kakao.maps.LatLng(lat, lng);
                var markerPosition = new kakao.maps.LatLng(lat, lng);
                var marker = new kakao.maps.Marker({
                    position: markerPosition,
                    image: markerImage,
                    title: name
                });
    
                marker.setMap(map);
            }
    
            function initMapLocation() {
                const lat = $('.tr:first').attr('data-lat');
                const lng = $('.tr:first').attr('data-lng');
                if (lat && lng) {
                    var moveLatLon = new kakao.maps.LatLng(lat, lng);
                    map.setCenter(moveLatLon);
                } else {
                    navigator.geolocation.getCurrentPosition(function (pos) {
                        var latitude = pos.coords.latitude;
                        var longitude = pos.coords.longitude;
                        var moveLatLon = new kakao.maps.LatLng(latitude, longitude);
                        map.setCenter(moveLatLon);
                    });
                }
            }
        </script>
    </head>
    <body>
        <%- include('nav') %>
        <section class="container-main">
              <!-- map -->
        <div id="map"></div>

        <!-- data list -->
        <div id="list">
            <div>
                <div id="table-container">
                    <label>오늘의 운행 현황</label>
                    <h4><b>총 <%=timeline.length%>대</b></h4>
                    <table style="width: 100%;" class="table-hover">
                        <% for(var i=0; i<timeline.length; i++) { %>
                        <tr class="tr small-tr" data-filter="0" data-lat="<%=timeline[i].Lat%>" data-lng="<%=timeline[i].Lng%>"
                            data-num="<%=timeline[i].Num%>">
                            <% var driver='기사 미배정';
                                        var bus='차량 미배정';
                                        if(timeline[i].DriverName) {
                                            driver=timeline[i].DriverName+' 기사';
                                        }
                                        if(timeline[i].Num) {
                                            bus=timeline[i].Num;
                                        } %>
                            <td><%=driver%><br><%=bus%></td>
                            <% var start=timeline[i].Loc[0];
                                    var end=timeline[i].Loc[1];
                                    var time=new Date().getTime();
                                    for(var j=0; j<timeline[i].Loc.length; j++) {

                                        var d=new Date();
                                        var rcTime=new Date(d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate()+' '+timeline[i].Loc[j].RcTime).getTime();
                                         if(rcTime<time&&timeline[i].Loc[j+1]) {
                                            start=timeline[i].Loc[j];
                                            end=timeline[i].Loc[j+1]
                                         } %>
                            <% } %>
                            <td><span class="location-name"><b><%=start.LocName%></b></span><br><%=start.LocAddr%></td>
                            <td><img src="/public/images/right_arrow.png"></td>
                            <td><span class="location-name"><b><%=end.LocName%></b></span><br><%=end.LocAddr%></td>
                            <% var pt='물류관리 직원 미배정';
                                    if(timeline[i].PtName) {
                                        pt=timeline[i].PtName;
                                    } %>
                            <td><%=pt%><br><%=timeline[i].PtPhone%></td>
                        </tr>
                        <% } %>
                    </table>
                </div>
                </di>
            </div>
        </div>
        </section>
    </body>
</html>